<div class="search-item">
  <div class="item-header">
    <label>近期招标</label>
    <a href="/supplier/search-bids?type=more" class="pull-right">
      <span>更多</span>
      <i class="icon-hsh icon-hsh-xiangxiazhedie"></i>
    </a>
  </div>
  <div class="item-content">
    {{> component:search/bids_search/common/all_templates/_search_item_list}}
  </div>
</div>
