@import "compass/css3";
@import "pokeball/theme";

.invoice-manage{
  .js-add-invoice {
    margin-bottom: 20px;
  }
  .set-default{
    display: none;
  }
  .invoice-table{
    margin-top: 20px;
    .item-manage-table{
      thead{
        background-color: $color-background;
      }
      tbody{
        tr{
          &:hover{
            & .set-default{
              @include inline-block(middle);
            }
          }
        }
        td {
          padding-top: 0;
        }
      }
    }
  }
}
.invoice-form{
  width: 600px;
  label {
    color: $color-secondary;
  }
  fieldset{
    padding: 0;
  }
  .selectric{
    width: 120px;
  }
  .js-choose-invoicetype {
    margin-bottom: 20px;
  }
  .invoice-common {
    .type1box {
      display: inline-block;
      vertical-align: top;
    }
    .sp {
      margin-top: 10px;
    }
  }
  .default-label {
    margin-top: 40px;
    margin-left: 80px;
  }
  .invoice-vat {
    label {
      width: 90px;
      margin-right: 5px;
      color: $color-secondary;
    }
    .desc {
      margin: 0;
      span {
        color: #999999;
      }
    }
  }
  .image-area {
    margin: 0;
    display: inline-block;
    vertical-align: top;

    .image-tip {
      line-height: 32px;
    }

    .main-image {
      @include inline-block(top);

      .no-image {
        display: inline-block;
        width: 84px;
        height: 84px;
      }
    }


    .image-container {
      width: 84px;
      height: 84px;
      margin: 15px 18px 7px 0px;
      border: 1px solid $color-border;
      text-align: center;
      @include inline-block(top);
      position: relative;

      // span.text {
      //   position: absolute;
      //   display: block;
      //   bottom: -20px;
      //   left: -10px;
      //   width: 100px;
      // }

      img {
        width: 100%;
        height: 100%;
      }

      .image-tip-add {
        display: none;
      }

      &.empty {
        border: 1px dashed $color-border;

        .image-tip-add {
          text-align: center;
          font-size: 30px;
          @include inline-block(middle);
          line-height: 80px;
          color: $color-border;
        }

        &:hover {
          border: 1px dashed $color-text;

          .image-tip-add {
            color: $color-text;
          }
        }
      }

      &.error {
        border-color: $color-danger;

        .image-tip-add {
          color: $color-danger;
        }
      }

      .image-operate {
        display: none;

        i {
          color: $color-text-white;
          line-height: 25px;
          cursor: pointer;
          margin: 0 5px;
        }
      }

      &:hover {
        .image-operate {
          @include inline-block(middle);
          position: absolute;
          width: 100%;
          height: 25px;
          bottom: 0;
          left: 0;
          background-color: rgba(0,0,0,0.4);
        }
      }
    }
  }
}
