<div class="drop-down-more">
  <span class="dropdown-selector">
    <span class="placeholder">{{placeholder}}</span>
  </span>
  <div class="caret-content">
    <span class="caret"></span>
  </div>
  <div class="dropdown-content">
    <ul class="dropdown-menu">
      {{#each data}}
        <li>
          {{#unless status}}
            <input type="checkbox" class="js-checkbox-select input-checkbox" data-key="{{key}}" data-name="{{name}}" {{#if checked}}checked{{/if}}>
          {{/unless}}
          <span>{{name}}</span>
          {{#if status}}
            <a href="/developer/supplier-list" target="_blank">去入库</a>
          {{/if}}
        </li>
      {{/each}}
    </ul>
  </div>
</div>
