{{#partial "realTitle"}}商品详情{{/partial}}
{{#partial "realBody"}}
  <div class="detail-layout clearfix">
    <div class="detail-left">
      <div class="detail-left-content">{{inject "shop_design/item_detail"}}</div>
    </div>
    <div class="detail-right">
    {{inject "shop_decoration/cards"}}
    </div>
  </div>
{{/partial}}
{{> index_layout}}
