<div class="pull-left margin-right-20 margin-bottom-20">
  <div class="bids-file">
    <div class="file-img">
      <i class="icon-hsh icon-hsh-file"></i>
    </div>
    <div class="file-info">
      <div class="title">{{name}}</div>
      <div class="date">
       <span>{{formatDate createdAt}}</span>
       <a href="http:{{path}}" class="pull-right">
        <i class="icon-hsh icon-hsh-xiazai"></i>
       </a>
       <a href="javascript:;" class="js-file-delete" data-id="{{id}}">
        <i class="icon-hsh icon-hsh-delete"></i>
       </a>
      </div>
    </div>
  </div>
</div>
