<div class="modal modal-bids-manage">
  <div class="modal-header">
    <h2>确认回标</h2>
    <i class="icon-feebas icon-feebas-cha right-close close"></i>
  </div>
  <div class="modal-body file-body">
    <div>
      <h4>你将提交的回标文件如下，请确认</h4>
    </div>
    <div class="clearfix margin-bottom-20">
      <div class="pull-left">
        回标附件：
      </div>
      <div class="pull-left">
        {{#each accessoryList}}
          <div>{{filename}}</div>
        {{/each}}
      </div>
    </div>
    <div class="clearfix margin-bottom-20">
      <div class="pull-left">
        回标清单：
      </div>
      <div class="pull-left">
        {{#each inventoryList}}
          <div>{{filename}}</div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-primary btn-medium js-file-submit">确认</button>
    <button class="btn btn-info btn-medium close">取消</button>
  </div>
</div>
