<div class="component-filter">
  <form id="form4" class="form form-standard-filter">
    <fieldset>
      <span class="span3 left-text">
        <label for="name">项目名称</label>
        <input type="text" name="name" placeholder="输入项目名称" value="{{name}}">
      </span>
      <span class="span4 left-text select-small control-group">
        <label for="">所在地</label>
        <select class="address-select" name="provinceId" data-level="1" data-type="hide">
          <option value="{{provinceId}}">请选择</option>
        </select>
        <select class="address-select" name="cityId" data-level="2">
          <option value="{{cityId}}">请选择</option>
        </select>
      </span>
      <span class="span2 left-text select-small">
        <label for="status">状态</label>
        <select class="select" name="status">
          <option value="">请选择</option>
          <option value="1" {{#equals status 1}}selected{{/equals}}>正常</option>
          <option value="0" {{#equals status 0}}selected{{/equals}}>关闭</option>
        </select>
      </span>
      <span class="span3 left-text select-medium">
        <label for="type">业态类型</label>
        <select class="select" name="type">
          <option value="">请选择</option>
          <option value="1" {{#equals type 1}}selected{{/equals}}>住宅</option>
          <option value="2" {{#equals type 1}}selected{{/equals}}>商业</option>
          <option value="3" {{#equals type 1}}selected{{/equals}}>旅游</option>
          <option value="4" {{#equals type 1}}selected{{/equals}}>综合体</option>
        </select>
      </span>
      <span class="span pull-right">
        <a href="/developer/project" class="btn btn-info">重置</a>
        <button type="submit" class="btn btn-primary">筛选</button>
      </span>
    </fieldset>
  </form>
</div>
