@import "compass/css3/inline-block";
@import "pokeball/theme";

.company-manage-info .info-content {
  .each-box-not-table {
    padding: 16px 16px 0px 16px;
    margin-bottom: 16px;
    border: 1px solid $color-border;
  }

  .each-not-table-content {
    border-bottom: 1px solid #dfdfdf;
    margin-bottom: 16px;
  }

  .each-box-table {
    padding: 16px;
    margin-bottom: 16px;
    border: 1px solid $color-border;

    .each-table-content {
      border-bottom: 1px solid #dfdfdf;
      padding: 0px 0px 16px 0px;
      margin-bottom: 16px;
    }
  }

  .table-title {
    margin-bottom: 16px;
  }

  .table td {
    word-break: break-all;
  }
}

.company-manage-info .tax-info-form .info-content {
  .apply-title {
    font-size: 14px;
    height: 20px;
    line-height: 20px;
  }
}

.company-manage-info .service-info-form .info-content {
  .single-box {
    .inline-group {
      display: block;
    }
  }
}