{{#component "company-manage-info component-standard-tab-container js-comp"}}
<div class="tab-contents clearfix">
  <div data-role="content" class="tab-content">
    <form class="form form-aligned company-info-form" data-company-info="{{json _DATA_.company}}">
      <div class="component-header">
        {{> component:developer/company/company_info/backend_templates/header_status data=_DATA_.company}}
      </div>
      <div class="component-body info-content">
        {{#equals _DATA_.company.status '0'}}
          {{#equals _APPLY_.extra.applyType '1'}}
            <div class="single-box js-left-box">
              <div class="form-title">变更前信息</div>
              {{> component:developer/company/company_info/backend_templates/company_form_info data=_DATA_.company}}       
            </div>
            <div class="single-box js-right-box has-different-info">
              <div class="form-title">待审核信息</div>
              {{> component:developer/company/company_info/backend_templates/company_form_info data=_APPLY_.company before=_DATA_.company}}     
            </div>
          {{else}}
            {{> component:developer/company/company_info/backend_templates/company_form_info data=_DATA_.company}}
          {{/equals}}
        {{else}}
          {{> component:developer/company/company_info/backend_templates/company_form_info data=_DATA_.company}}
        {{/equals}}
      </div>
    </form>
  </div>
</div>
{{/component}}