{{#component "register-success"}}
  <div class="alert-icon">
    <img src="/assets/images/other-images/register-success.png" alt="">
  </div>
  <div class="alert-message">
    <h3>{{i18n "find password success" bundle="user"}}！</h3>
    <br>
    <span>{{i18n "You can" bundle="user"}}</span>
    <a class="js-start-shopping" href="/login">{{i18n "login again" bundle="user"}}</a>
  </div>
{{/component}}
