{{#component "company-manage-info component-standard-container js-comp"}}
  <form class="form form-aligned perfect-info-form" data-company-info="{{json _DATA_.developerProfile}}">
    <div class="component-header">
      <div class="header-status">
        <span class="form-btn pull-right">
          {{> component:developer/company/company_info/all_templates/button title='修改/完善信息'}}
        </span>
      </div>
    </div>
    <div class="component-body info-content">
      {{> component:developer/company/company_detail/backend_templates/describe_info data=_DATA_.developerProfile companyHonour=(parse _DATA_.developerProfile.companyHonour)}}
      {{> component:developer/company/company_detail/backend_templates/contact_info data=_DATA_.developerProfile}}
    </div>
  </form>
{{/component}}