@import "compass/css3/inline-block";
@import "pokeball/theme";

.user-merchant-settled{

  .settled-body{
    padding: 20px;
    border-top-width: 0;
    border-bottom-width: 0;

    > .control-group{

      > label{
        width: 120px;
        text-align: right;
      }

      input {
        width: 280px;
        height: 38px;
      }

      &:not(:first-child){
        margin-top: 20px;
      }

      .address-select-group{
        width: 400px;
        @include inline-block(top);
        margin-top: -6px;

        .selectric {
          width: 100px;
        }
      }

      textarea{
        width: 280px;
        height: 70px;
      }

      .reason{
        width: 400px;
        @include inline-block(top);
      }

    }
    .btn-upload {
      vertical-align: middle;
    }
    .pic-list{
      width: 200px;
      @include inline-block(top);
      margin-left: 10px;
      font-size: 0;

      .item{
        padding: 0 10px;
        width: 90px;
        height: 80px;
        position: relative;
        @include inline-block(top);

        > img{
          width: 70px;
          height: 70px;
        }

        .close{
          width: 16px;
          font-size: 12px;
          position: absolute;
          bottom: 15px;
          right: 15px;
          display: none;
          height: 16px;
          line-height: 15px;
          text-align: center;
          background: #197aff;

          > a{
            width: 16px;
            height: 16px;
            @include inline-block(top);
            color: $color-text-white;
            font-weight: bold;
          }
        }

        &:hover{

          .close{
            display: block;
          }
        }
      }
    }
  }

  .settled-footer{
    padding-left: 238px;
    padding-bottom: 20px;

    .btn-large{
      width: 164px;
    }
  }

}
