@import "compass/css3";
@import "pokeball/theme";

.discount-create{
  color: $color-text-assist;
  .cgray {
    color: #999999;
  }
  .activity {
    border: 1px solid #dfdfdf;
    padding: 15px;
    display: inline-block;
    width: 300px;
    height: 146px;
    overflow: hidden;
    margin-top: 10px;
    margin-right: 20px;
    .activity-logo {
      width: 75px;
      height: auto;
      line-height: 75px;
      margin-right: 10px;
      display: inline-block;
      margin-top: 25px;
    }
    .info {
      display: inline-block;
      vertical-align: top;
      width: 180px;
      float: right;
      span {
        display: inline-block;
      }
      .title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 14px;
      }
      .desc {
        height: 36px;
        overflow-y: hidden;
      }
      .create {
        float: right;
        margin-top: 15px;
      }
    }
  }
  #discount-form {
    padding-top: 15px;
    label {
      width: 90px;
      color: $color-text-assist;
      text-align: left;
      margin-right: 0;
    }
    .sp {
      display: inline-block;
      vertical-align: top;
      label {
        width: auto;
        line-height: 18px;
        text-align: left;
      }
      input.itemIds-input {
        padding: 7px 5px;
        height: 22px;
      }
      input.sp-input {
        padding: 7px 5px;
        height: 22px;
      }
    }
    .w80 {
      width: 80px;
      display: inline-block;
    }
    .w38 {
      width: 38px;
      display: inline-block;
    }
  }
}
