<div class="component-filter">
  <form id="form4" class="form form-standard-filter js-form-filter">
    <fieldset>
      <span class="span5 left-text">
        <label>接收时间：</label>
        <input type="hidden" name="qfType" value="{{qfType}}">
        <input type="text" name="startDate" class="input-date js-common-start-at datepicker" placeholder="请输入起始时间" value="{{startDate}}">
        &nbsp;-&nbsp;
        <input type="text" name="endDate" class="input-date js-common-end-at datepicker" placeholder="请输入截止时间" value="{{endDate}}">
      </span>
      <span class="span pull-right">
        <button type="submit" class="btn btn-info">查询</button>
      </span>
    </fieldset>
  </form>
</div>
