@import "pokeball/theme";

.message-group {
  margin-top: -20px;

  .td-active {
    color: $color-danger;
  }

  .message-title {
    padding: 15px 0;
    line-height: 32px;

    > span {
      font-size: 12px;
      font-weight: 600;
    }

    .title-tab {
      cursor: pointer;
      margin-right: 10px;

      &.active {
        color: $color-primary;
      }
    }

    .title-tab:hover {
      color: $color-primary;
    }
  }

  .message-content {
    width: 100%;
  }
}
