{{#component "js-comp developer-index component-standard-container"}}
  <div class="component-body">
    {{#equals qfType 1}}
      {{> component:developer/index/common/backend_templates/block_message}}
      {{#with _DATA_}}
        {{> component:developer/index/common/backend_templates/table_message}}
      {{/with}}
    {{else}}
      {{> component:developer/index/common/backend_templates/block_approval}}
      {{#equals qfType 2}}
        {{#with _DATA_}}
          {{> component:developer/index/common/backend_templates/table_approval_wait statusStr=../statusStr qfType=../qfType disabledStatusStr=../disabledStatusStr}}
        {{/with}}
      {{/equals}}
      {{#equals qfType 3}}
        {{#with _DATA_}}
          {{> component:developer/index/common/backend_templates/table_approval_own statusStr=../statusStr qfType=../qfType disabledStatusStr=../disabledStatusStr}}
        {{/with}}
      {{/equals}}
    {{/equals}}
  </div>
{{/component}}
