<div class="tab component-tab component-header" data-type="switchable">
  <ul class="tab-navs clearfix">
    <li class="{{#equals selectTab '1'}}active{{/equals}}">
      <a href="/user/log">登录日志</a>
    </li>
    <li class="{{#equals selectTab '2'}}active{{/equals}}">
      <a href="/user/log-operate">操作日志</a>
    </li>
  </ul>
</div>