<div class="alert-icon">
  <img src="/assets/images/other-images/register-success.png" alt="">
</div>
<div class="alert-message">
  <h3>注册公司成功！</h3>
  <br>
  <a class="js-start-shopping" href="/{{#equals _USER_.companyType '1'}}developer{{else}}supplier{{/equals}}/index">进入公司首页</a>
</div>