<div class="modal component-login">
  <div class="modal-header">
    <a href="javascript:;" class="close">×</a>
    <h2>账号登录</h2>
  </div>
  <div class="modal-body">
    {{> common/login/all_templates/_login}}
  </div>
</div>
