@import "compass/css3/inline-block";
@import "pokeball/theme";

.header-title-progress{
  padding:42px 0;
  height:120px;
  margin: 0 auto;
  text-align: center;

  > .progress{
    display:inline-block;
    line-height:36px;
  }
}
