{{#component "header-title-progress"}}
  {{#with _DATA_}}
    {{#if progress}}
      <div class="progress">
        <ol>
          {{#each progress}}
            <li class="progress-step{{#gt ../step @index}} past{{/gt}}{{#equals ../step @index}} active{{/equals}}">
              <span class="progress-step-number">{{#gt ../step @index}}<i class="icon-pokeball icon-pokeball-gou"></i>{{else}}{{add @index 1}}{{/gt}}</span>
              <span class="progress-step-into">{{name}}</span>
            </li>
            {{#unless @last}}
              <li class="progress-bar"></li>
            {{/unless}}
          {{/each}}
        </ol>
      </div>
    {{/if}}
  {{/with}}
{{/component}}
