{{#component "supplier-bids-supply js-comp"}}
  {{#with _DATA_}}
    {{#if issuedBidDetailDtos}}
      {{#each issuedBidDetailDtos}}
        <div class="bids-group">
          <div class="bids-content-bg left-text">第{{subtract ../total @index}}次</div>
        </div>
        {{> component:supplier/bids/bids_supply/backend_templates/attachment}}
        {{> component:supplier/bids/bids_supply/backend_templates/list}}
      {{/each}}
    {{else}}
      <div class="center-text font-16" style="padding-top: 50px;">暂无补充文件！</div>
    {{/if}}
  {{/with}}
{{/component}}
