{{#partial "realTitle"}}用户中心{{/partial}}
{{#partial "realBody"}}
  <div name="{{json _USER_}}"></div>
  <h3 class="left-text"><strong>亲爱的 {{_USER_.name}}，欢迎回来！</strong></h3>
{{/partial}}
{{> user/layout}}
