{{#partial "title"}}{{block "realTitle"}}{{/partial}}
{{#partial "body"}}
   {{inject "common/ceiling"}}
   {{block "progress"}}
   <div class="main-container" style="margin-bottom: 20px;">
    {{{block "realBody"}}}
  </div>
  <div style="clear:both;"></div>
  {{> footer}}
{{/partial}}
{{> layout}}
