@import "pokeball/theme";

.bids-progress {
  margin-bottom: 20px;

  .progress-title {
    margin: 20px 0;
    color: $color-text-assist;
  }

  .progress-item {
    position: relative;
    @include inline-block(middle);
    margin: 80px 0;

    &.padding-right {
      padding-right: 100px;
    }
  }

  .progress-step-into.special {
    width: 70px;
  }

  .progress-step {
    &.active .progress-step-into {
      color: $color-primary;
    }

    a:hover .progress-step-into {
      color: $color-primary;
    }
  }

  .step-top,.step-bottom {
    position: absolute;
    color: $color-text-note;

    a {
      color: $color-text-note;
    }

    a:hover {
      color: $color-primary;
    }

    &.active a {
      color: $color-primary;
    }
  }

  .step-top {
    top: -70px;
    width: 130px;
    text-align: left;
  }

  .step-bottom {
    top: 75px;
    width: 130px;
    text-align: left;
  }

  .progress-bar-top,.progress-bar-bottom {
    width: 15px;
    height: 50px;
    position: absolute;
    left: 6px;
  }

  .progress-bar-bottom {
    border-bottom: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    top: 35px;

    &.active {
      border-bottom: 1px solid $color-primary;
      border-left: 1px solid $color-primary;
    }
  }

  .progress-bar-top {
    border-left: 1px solid #c0c0c0;
    border-top: 1px solid #c0c0c0;
    top: -60px;

    &.active {
      border-left: 1px solid $color-primary;
      border-top: 1px solid $color-primary;
    }
  }

  .progress-bar.active {
    background-color: $color-primary;
  }

  .step-info {
    position: absolute;
    left: 30px;
    color: $color-text-note;
    text-align: left;
  }

  .progress-content {
    text-align: center;
    padding-top: 20px;
    position: relative;

    .right-link {
      position: absolute;
      right: 20px;
      top: 40px;
      color: $color-text-assist;

      &:hover {
        color: $color-primary;
      }
    }
  }
}

.form-bids-discard {
  .label-small {
    width: 5em !important;
  }
  .note-error-absolute {
    position: absolute;
  }
}
