{{#component "component-measurement-complex js-comp"}}
{{> component:list/fee_sum/all_templates/wrap}}
<div class="bill-container js-bill-container">
  {{> component:list/measurement/all_templates/bill_list}}
</div>
<div class="bill-tab-container">
  <div class="detail-bar" id="js-detail-bar">
    <p>展开细项</p>
  </div>
</div>
{{/component}}
