<div class="modal">
  <div class="modal-header">
    <h2>填写审核不通过原因</h2>
  </div>
  <form id="set-apply-fail-form" class="form form-aligned set-apply-fail-form">
    <div class="modal-dialog">
      <div class="control-group">
        <label style="width: auto;"><span class="required">*</span>原因:</label>
        <input type="text" class="input-medium" name="remark" placeholder="请输入审核不通过原因" required>
      </div>
      <input type="hidden" name="applyId" value="{{id}}">
    </div>
    <div class="modal-footer">
      <button class="btn btn-success btn-primary btn-medium" type="submit">确认</button>
      <button class="btn btn-info btn-medium close">取消</button>
    </div>
  </form>
</div>