<div class="company-introduction company-tax">
  <span class="tax-title">税务信息</span>
  <div class="control-group">
    <label>纳税类型：</label><span>{{#equals profile.taxType '1'}}一般纳税人{{else}}小规模纳税人{{/equals}}</span>
  </div>
  <div class="control-group">
    <label>纳税人识别号：</label><span>{{profile.taxNo}}</span>
  </div>
  <div class="control-group">
    <label>纳税登记地址：</label><span>{{profile.taxAddress}}</span>
  </div>
</div>