{{#component "component-provisional-material js-comp"}}
<div class="component-body">

    <div class="body-right js-fee-item-table">

      {{> component:list/fee_sum/all_templates/wrap}}
      <table class="user-manage-table table table-horizontal center-text">
        <thead>
          <tr>
            <th width="10%">序号</th>
            <th width="25%">材料（工程设备）名称</th>
            <th width="10%">计量单位</th>
            <th width="10%">数量</th>
            <th width="10%">暂估价（单价</th>
            <th width="10%">暂估价（合价）</th>
            <th width="25%">备注</th>
          </tr>
        </thead>
        <tbody class="js-fee-item-tbody">
          {{#each _DATA_}}
            {{> component:list/provisional_material/backend_templates/tr data=this}}
          {{/each}}

        </tbody>
      </table>

    </div>

  </div>
{{/component}}
