@import "pokeball/theme";

.supplier-search-bids {

  .search-item {

    .item-header {
      padding-top: 16px;

      a:hover {
        color: $color-primary;
      }
    }

    label {
      font-size: 12px;
      font-weight: 600;
    }
  }

  .date-content {
    font-size: 20px;
    color: $orange;
    margin: 24px 0 10px;
  }

  .deadline-date {
    font-size: 12px;
    color: $color-text;
  }

  .width-630 {
    width: 630px !important;
  }

  .desc-info {
    font-size: 12px;
    color: $color-text-note;
  }

  .descAshop .developer-name {
    margin: 10px 0 !important;
    color: $color-text-assist;
    line-height: 16px;
  }

  .desc-name {
    font-size: 14px;
    color: $color-text;
  }
}
