<fieldset>
  <div class="control-group">
    <label><span class="required">*</span>公司名称:</label>
    <input type="text" id="company-name" class="input-medium" name="name" placeholder="请输入公司注册全称" value="{{name}}" required>
    <button class="btn btn-primary js-check-company" type="submit">确定</button>
    <span class="note-error-empty"><i>&times;</i> 公司名称不得为空</span>
  </div>
  <div class="control-group has-register hide">
    <label></label>
    <span class="company-note">该公司已注册，填写申请备注后，将由该公司管理员审核你的注册申请</span>
  </div>
  <div class="control-group has-register hide">
    <label></label>
    <textarea type="text" id="remark" name="remark" placeholder="请输入你加入本公司的备注信息,非必填" maxLength="120"></textarea>
  </div>
  <div class="control-group not-register hide">
    <label></label>
    <span class="company-note">该公司未注册，是否创建为新公司</span>
  </div>
  <div class="control-group has-register hide">
    <label></label>
    <button class="btn btn-primary" type="submit">加入公司</button>
  </div>
  <div class="control-group not-register hide">
    <label></label>
    <button class="btn btn-primary js-create-company" type="button">创建公司</button>
  </div>
  <div class="control-group js-select-company-type hide">
    <label><span class="required">*</span>请选择注册类型</label>
    <select class="js-select-type">
      <option value="">请选择</option>
      <option value="1">开发商</option>
      <option value="2">供应商个人</option>
      <option value="3">供应商工程类</option>
      <option value="4">供应商材料设备类</option>
    </select>
  </div>
</fieldset>