@import "compass/css3/inline-block";
@import "pokeball/theme";

.company-manage-info {
  .header-status {
    height: 60px;
    line-height: 60px;
    padding: 0px 16px;
    background-color: #fafafa;
    border: 1px solid $color-border;

    .status-notes {
      margin-right: 10px;
    }
    .status-success {
      color: $color-success;
      i {
        margin: 0px 6px 2px 0px;
      }
    }
    .status-ing {
      color: $color-warning;
      i {
        margin: 0px 6px 2px 0px;
      }
    }
  }

  .info-content {
    .form-title {
      font-size: 14px;
      padding-left: 20px;
      margin-bottom: 0px;
      height: 40px;
      line-height: 40px;
      background: aliceblue;
    }

    .single-box {
      width: 49.8%;
      display: inline-block;
      vertical-align: top;

      .form-title {
        margin-bottom: 20px;
      }

      .address-group .selectric {
        width: 130px;
      }
    }

    .each-box-content {
      margin-bottom: 20px;
      border-bottom: 1px solid $color-border;
    }

    .extra-detail-information {
      .control-group label {
        width: 8em;
      }
    }

    .control-group {
      label {
        width: 12em;
      }

      .main-image {
        width: 70px;
        height: 70px;
        line-height: 66px;
        padding: 0px;

        span {
          zoom: 2;
          height: 9px;
        }
      }
    }

    .inline-group {
      display: inline-block;
    }

    .select-group .selectric {
      width: 232px;
    }

    .biz-group input {
      width: 114px;
    }

    .inline-group input.groupNum {
      width: 190px;
    }

    .address-group .selectric {
      width: 150px;
    }

    .detail-address-group .selectric {
      width: 114px;
    }

    .scope-group .checkbox-item {
      margin: 0px 10px 0px 5px;
      vertical-align: middle;
      width: auto
    }

    .textarea-group {
      label {
        vertical-align: top;
      }

      textarea {
        width: 232px;
        height: 60px;
        line-height: 24px;
      }
    }
  }
}

.pictrue-remark {
  vertical-align: bottom;
  display: inline-block;
  margin-bottom: 4px;
  margin-left: 4px;
  color: #666;
}

.info-content .has-different-info {
  .different-group {
    label,input {
      color: $color-warning;
    }

    .selectric-different-select .selectric .label {
      color: $color-warning;
    }
  }
}

.info-content .single-box .speciality-group .selected-special-group {
  max-width: 400px;
}
