<div class="details-item">
  <div class="title">
    <div class="name">{{material.name}}</div>
    <div class="units">
      {{#each material.units}}
        {{name}}&nbsp;&nbsp;
      {{/each}}
    </div>
    <div class="price pull-right">税率：{{formatPrice material.priceDuration}}%</div>
  </div>
  <div class="details-img">
    {{#each materialDetail.images}}
      <div class="img-item">
        <img src="{{img}}">
      </div>
    {{/each}}
  </div>
</div>
