<div class="js-history-price hide">
  <table class="table margin-top-20">
    <thead>
      <tr>
        <th>日期</th>
        <th>招标项目</th>
        <th>价格</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>2015-09-09</td>
        <td>网路</td>
        <td><span class="price">45.00</span></td>
      </tr>
    </tbody>
  </table>
</div>
