<div class="js-platform-price platform-price">
  <div class="price-label">
    平台参考价
    <i class="icon-feebas icon-feebas-notify-danger" title="平台参考价由以下价格来源综合计算而得"></i>
  </div>
  <div class="price font-20">
    ￥ 45.00
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>属性1</th>
        <th>属性2</th>
        <th>图片</th>
        <th>日期</th>
        <th>价格来源</th>
        <th>价格</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>属性1</td>
        <td>属性1</td>
        <td>
          <img src="/assest/images/other-images/login-icon.png" width="50" height="50">
        </td>
        <td>2015-09-09</td>
        <td>网路</td>
        <td><span class="price">45.00</span></td>
      </tr>
    </tbody>
  </table>
</div>
