<div class="detials-item">
  <div class="title">
    <div class="name">相关材料清单</div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>材料名称</th>
        <th>规格（长 x 宽）</th>
        <th>品牌</th>
        <th>型号</th>
      </tr>
    </thead>
    <tbody>
      <tr class="js-tr-item tr-item">
        <td>
          <i class="icon-feebas icon-feebas-zhankai"></i>
          <i class="icon-feebas icon-feebas-shouqi"></i>
        </td>
        <td>螺纹钢</td>
        <td>600x800</td>
        <td>梦安丽莎</td>
        <td>dfafdfaf</td>
      </tr>
      <tr class="hide">
        <td colspan="5" class="content-td">
          <div class="content-tr">
            <div class="group-btn">
              <div class="btn-item left active js-price-btn" data-type="platform">平台价格</div>
              <div class="btn-item right js-price-btn" type="history">历史价格</div>
            </div>
            <div class="js-price-content">
              {{> component:developer/search/material_details/backend_templates/platform_price}}
              {{> component:developer/search/material_details/backend_templates/history_price}}
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
