{{#component "common-tab-manage component-standard-container js-comp"}}
  {{> component:user/login_log/backend_templates/tab selectTab='1'}}
  <div class="tab-contents clearfix">
    <div data-role="content" class="tab-content">
      <div class="component-header">
        {{> component:user/login_log/backend_templates/search title="login"}}
      </div>
      <div class="component-body">
        {{> component:user/login_log/backend_templates/table}}
      </div>
    </div>
  </div>
{{/component}}