@import "pokeball/theme";

@function level-indent($level) {
  @return $level * 10px;
}

.component-tree-container {
  background-color: #fff;
  position: relative;

  .tree-search {
    background-color: $color-background;
    padding: 10px 20px;
  }

  .tree-view {
    min-height: 250px;
    overflow: auto;
    min-width: 250px;
    border-top: 1px solid $color-border;
    padding: 10px 0;
    background-color: $color-background;
  }

  .tree-node {
    width: 100%;

    &.selected {
      > .tree-item {
        &.no-children {
          .item-name:before {
            background-color: #03A9F4;
          }
        }

        .node-status {
          color: #03A9F4;
        }

        &:after {
          background-color: $color-primary-light;
        }

        a.item-name{
          color: $color-text;
        }
      }
    }

    &.searched {
      > .tree-item {

        &:after {
          background-color: $color-primary-light;
        }

        a.item-name{
          color: $color-text;
        }
      }
    }

    &.expand {
      > .tree-item {
        .expand-status {
          @include inline-block(middle);
        }

        .pack-status {
          display: none;
        }
      }

      > .tree-children {
        display: block;
      }
    }


  }

  .tree-item {
    width: 100%;
    height: 24px;
    background-color: transparent;
    line-height: 24px;
    position: relative;
    font-size: 0px;

    .item-name{
      color: $color-text;
      width: 80%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      @for $i from 1 through 10 {
        &.level-#{$i} {
          width: calc(100% - #{$i} * 10px - 40px);
        }
      }

      &:before {
        margin-left: 10px;
        content: '';
      }
    }

    &.no-children {
      .item-name {
        &:before {
          content: "";
          border-radius: 10px;
          height: 10px;
          width: 10px;
          background-color: #bbb;
          @include inline-block(baseline);
          margin: 0 10px 0 0;
          position: relative;
          z-index: 1;
        }

        @for $i from 1 through 10 {
          &.level-#{$i} {
            width: calc(100% - #{$i - 1} * 10px - 40px);
          }
        }
      }
    }

    &:hover {
      &:after {
        background-color: #F3F3F3;
      }
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 24px;
      z-index: 0;
    }

    i {
      font-size: 12px;
      line-height: 12px;
      width: 10px;
      color: $color-text;
    }

    .expand-status,
    .pack-status {
      position: relative;
      z-index: 1;
      font-weight: bold;
      @include inline-block(middle);
    }

    .expand-status {
      display: none;
    }
  }

  .tree-children {
    display: none;
  }

  .item-name {
    position: relative;
    z-index: 1;
    font-size: 12px;
    line-height: 24px;
    @include inline-block(top);
  }

  .node-operation {
    z-index: 1;
    padding-right: 10px;
    position: relative;

    i {
      line-height: 24px;
    }
  }

  .operation-menu {
    position: absolute;
    right: 0px;
    top: 0;
    width: 60px;
    background-color: #111;
    color: #fff;
    z-index: 9;
    font-size: 12px;

    p {
      margin: 0 5px;
      position: relative;
    }

    a {
      color: #fff;
    }
  }

  @for $i from 0 through 10 {
    .placeholder-indent-#{$i} {
      width: level-indent($i);
      @include inline-block(middle);
    }
  }

  .tip {
    display: none;
    color: $color-success;
    border: 0;
    background-color: transparent;
    left: -60px;
    position: absolute;
    width: 100%;
    padding: 0;
    z-index: 99;
  }

  .new-child {
    margin: 5px 10px;

    .child-input {
      width: 140px;
      vertical-align: baseline;
    }

    .selectric-wrapper {
      vertical-align: bottom;
    }

    .selectric {
      width: 140px;
    }
  }
}

