{{#if enable}}
  <table class="table table-form js-table">
    <thead>
      <tr>
        <th></th>
        <th width="10%">项目编号</th>
        <th width="10%">项目名称</th>
        <th width="15%">属性</th>
        <th width="10%">项目特征描述</th>
        <th width="10%">工作内容</th>
        <th width="5%">单位</th>
        <th width="5%">工程量</th>
        {{#each itemPriceMap}}
          <th width="5%" data-subtotal="0">{{@key}}</th>
        {{/each}}
        <th width="10%" data-total="0" class="combine-th">
          <i class="icon-pokeball icon-pokeball-left js-combine-column" data-combine="true"></i>
          综合单价
          <i class="icon-pokeball icon-pokeball-right js-combine-column" data-combine="false"></i>
        </th>
        <th width="5%">管理费</th>
        <th width="5%">利润</th>
        <th width="5%">总价</th>
        <th width="5%">主材供应方式</th>
        <th width="5%" class="td-operation">操作</th>
      </tr>
    </thead>
    <tbody id="js-bill-tbody">
      {{#each data}}
        {{> list/measurement/all_templates/_bill_item}}
      {{/each}}
    </tbody>
  </table>
  <div class="operation-container">
    <a href="javascript:;" class="js-add-bill">
      <i class="icon-hsh icon-tianjia"></i> 添加新的清单行
    </a>
    <a href="javascript:;" class="js-add-edit-bill pull-right">
      <i class="icon-hsh icon-tianjia"></i> 添加自定义清单行
    </a>
  </div>
{{else}}
  <div class="no-cate">请先选择分类</div>
{{/if}}
