@import "compass/css3/inline-block";
@import "compass/css3/box-sizing";
@import "pokeball/theme";
.eve-editable {
  .floor-evevator-design{
    height: 30px;
  }
}
.floor-evevator {
  * {
    @include box-sizing(content-box);
  }
  display: none;
  &.active {
    display: block;
    > ul{
      opacity: .90;
      filter: alpha(opacity=90);
      display: none;
      display: block;
      bottom: 200px;
      left: 5px;
      position: fixed;
      z-index: 9;
    }
  }

  li {
    overflow: hidden;
    width: 34px;
    cursor: pointer;
    border-bottom: 1px solid #dfdfdf;

    .floor-li-inner {
      padding: 0;
      transition: .1s;
    }

    .li-slide {
      @include inline-block(middle);
      line-height: 14px;
      padding: 4px 0;
      color: $color-text;
      text-align: center;
      background-color: #fff;
      font-size:12px;
      width: 100%;
      word-break: break-all;
    }

    &.elevator-li.active {
      .li-slide {
        color: $color-primary;
      }
    }

    &.elevator-li.hover{
      .li-slide {
        color:$color-text-white;
        background-color:#197aff;
      }
    }

    .first-car {
      color: $color-text-white !important;
      background-color: #000;
    }
  }
}
