<div class="bids-group">
  <div class="bids-title">
    <label>评标内容</label>
  </div>
  <div class="bids-content">
    <form class="form form-aligned form-common js-form-attachment-evaluate">
      <fieldset>
        <div class="control-group">
          <label class="group-title">评标附件：</label>
          <div class="group-content" style="vertical-align: top;">
            {{#if _DATA_}}
              {{#each _DATA_}}
                {{> component:developer/bids/bids_confirm/confirm_info/all_templates/_attach_item}}
              {{/each}}
            {{else}}
              <span>暂无评标附件！</span>
            {{/if}}
          </div>
        </div>
        <div class="control-group">
          <label class="group-title">技术标评价：</label>
          <div class="group-content">
            <textarea name="techEvaluation" class="min-width-500" placeholder="请输入技术标评价" readonly>{{_BIDS_DETAILS_.techEvaluation}}</textarea>
          </div>
        </div>
        <div class="control-group">
          <label class="group-title">资信标评价：</label>
          <div class="group-content">
            <textarea name="creditEvaluation" class="min-width-500" placeholder="请输入资信标评价" readonly>{{_BIDS_DETAILS_.creditEvaluation}}</textarea>
          </div>
        </div>
        <div class="control-group">
          <label class="group-title">商务标评价：</label>
          <div class="group-content">
            <textarea name="businessEvaluation" class="min-width-500" placeholder="请输入商务标评价" readonly>{{_BIDS_DETAILS_.businessEvaluation}}</textarea>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
