<ul class="tab-navs clearfix">
  <li class="{{#equals selectTab '1'}}active{{/equals}}"><a href="/supplier/company-info">基本信息</a></li>
  <li class="{{#equals selectTab '2'}}active{{/equals}}"><a href="/supplier/company-info-tax">税务与业绩信息</a></li>
  <li class="{{#equals selectTab '3'}}active{{/equals}}"><a href="/supplier/company-info-service">服务信息</a></li>
</ul>