{{#component "js-comp approval-manage component-standard-container"}}
  <div class="component-header">
    <a href="/developer/approval-create" class="btn btn-primary">新建流程</a>
  </div>
  <div class="component-body">
      {{> component:developer/company/approval_manage/list/backend_templates/table}}
  </div>
{{/component}}
