<div class="modal modal-bids-manage">
  <div class="modal-header">
    <h2>发起澄清</h2>
    <i class="icon-feebas icon-feebas-cha right-close close"></i>
  </div>
  <form class="form-aligned form-common form-clarify js-form-clarify">
    <div class="modal-body manager-body">
      <div class="control-group">
        <label class="group-title">选择澄清清单：</label>
        <div class="group-content">
          <input type="hidden" name="companyIds" value="{{companyIds}}">
          <select class="select" name="clarifyInventoryId">
            <option value="">请选择清单</option>
            {{#each inventories}}
              <option value="{{id}}">{{name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="control-group">
        <label class="group-title">澄清附件：</label>
        <div class="group-content" style="vertical-align: top; width: 300px;">
          <div class="pull-left margin-right-20 margin-bottom-20 upload-content">
            <div class="bids-file btn-upload js-upload-file" data-type="7">
              <div class="file-img">
                <i class="icon-hsh icon-hsh-upload"></i>
              </div>
              <div class="file-upload">
                <input type="file" name="file">
                <span>上传澄清附件</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="control-group">
        <label class="group-title">澄清主题：</label>
        <div class="group-content">
          <textarea name="theme" placeholder="请输入澄清主题" required></textarea>
          <span class="note-error-empty" style="position: absolute;">x 请输入澄清主题</span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success btn-primary btn-medium">确认</button>
      <button class="btn btn-info btn-medium close">取消</button>
    </div>
  </form>
</div>
