<div class="modal modal-bids-manage">
  <div class="modal-header">
    <h2>邀请平台供应商报价</h2>
    <i class="icon-feebas icon-feebas-cha right-close close"></i>
  </div>
  <form class="form-aligned form-common js-form-invite">
    <div class="modal-body manager-body">
      <div class="control-group">
        <label class="group-title">招标专业：</label>
        <span>{{major}}</span>
      </div>
      <div class="control-group">
        <label class="group-title">平台推荐供应商：</label>
        <div class="group-content select-more js-select-container">
          <input type="text" name="ids" class="js-select-id" value="" placeholder="请选择供应商" required>
          <span class="note-error-empty" style="position: absolute;">x 请选择供应商</span>
        </div>
      </div>
      <div class="control-group">
        <label class="group-title">回标截止时间：</label>
        <div class="group-content">
          <input type="text" class="datepicker-hour" name="replyDeadline" value="" placeholder="请选择回标截止时间" required>
          <span class="note-error-empty" style="position: absolute;">x 请选择回标截止时间</span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success btn-primary btn-medium" type="submit">确认</button>
      <button class="btn btn-info btn-medium close">取消</button>
    </div>
  </form>
</div>
