<div class="component-tree-container">
  {{#if search}}
    <div class="tree-search">
      <input type="text" name="keyword" class="js-search-tree" placeholder="请输入关键字">
    </div>
  {{/if}}
  <div class="tree-view js-tree-view js-tree-node" data-id="0">
    {{> common/tree_comp/frontend_templates/_tree_list}}
  </div>
</div>
