.component-list-header{
  .list-header{
    position: relative;
    height: 60px;
    background-color: #03a9f4;
    .list-logo{
      width: 80px;
      height: 100%;
      padding-top: 20px;
      position: absolute;
      text-align: center;
      img{
        width: 60px;
        height: 20px;
      }
    }
    .list-nav{
      width: 100%;
      padding-top: 15px;
      padding-left: 80px;
      li{
        display: inline-block;
        font-size: 14px;
        margin: 0 14px;
        line-height: 14px;
        a{
          display: block;
          color: #fff;
          padding: 8px 20px;
          border-radius: 5px;
          &.active{
            color: #2687d0;
            background-color: #fff;
          }
        }
      }
    }
  }
}
