<div class="modal modal-bids-manage">
  <div class="modal-header">
    <h2>审批选择</h2>
    <i class="icon-feebas icon-feebas-cha right-close close"></i>
  </div>
  <form class="form form-common form-aligned js-form-approval">
    <div class="modal-body" style="min-height: 100px;">
      <div class="control-group">
        <label class="group-title">选择审批方式</label>
        <div class="group-content">
          <input type="hidden" name="refId" value="{{refId}}">
          <input type="hidden" name="type" value="{{type}}">
          <input type="hidden" name="status" value="{{status}}">
          <input type="hidden" name="opinion" value="{{opinion}}">
          <select name="approveWay" class="selectric" required data-parent=".group-content">
            <option value="">请选择重新审批方式</option>
            <option value="1">重新审批</option>
            <option value="2">从打回节点继续审批</option>
          </select>
          <span class="note-error-empty" style="position: absolute;">x 请选择重新审批方式</span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success btn-primary btn-medium" type="submit">确认</button>
      <button class="btn btn-info btn-medium close">取消</button>
    </div>
  </form>
</div>
