<div class="control-group">
  <label class="group-title"><b class="required">*</b>报名截止时间</label>
  <div class="group-content">
    <input type="text" name="registrationDeadline"  class="datepicker-hour" placeholder="请选择报名截止时间" value="{{registrationDeadline}}" data-val="{{registrationDeadline}}" required>
    <span class="note-error-empty">x 不能为空</span>
  </div>
</div>
