{{#component "component-list-measurement-safe js-comp"}}
{{> component:list/fee_sum/all_templates/wrap}}
<table class="table table-form js-table">
  <thead>
    <tr>
      <th>项目名称</th>
      <th width="30%">项目特征描述</th>
      <th>计价基础</th>
      <th>计价值</th>
      <th>费率(单位：%)</th>
      <th>费用</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<button class="btn js-add-btn" style="margin-top: 10px;">添加安全文明施工费项目</button>
{{/component}}
