<div class="bids-group">
  <div class="bids-title">
    <label>澄清回复</label>
  </div>
  <div class="bids-content">
    <div class="control-group">
      <div>回复时间：{{formatDate createdAt}}</div>
      <div>回复内容：{{reply}}</div>
    </div>
  </div>
</div>
