{{#component "component-list-measurement-taxes js-comp"}}
<div style="padding-top: 16px;">
  <table class="table table-form js-table">
    <thead>
      <tr>
        <th>项目名称</th>
        <th width="30%">项目特征描述</th>
        <th>计价基数</th>
        <th>计价值</th>
        <th>费率</th>
        <th>费用</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<button class="btn js-add-btn" style="margin-top: 10px;">添加新的清单行</button>
{{/component}}
