<div class="filter shop-search-filter" style="margin-top: 20px;">
  <form class="form filter-form js-filter-form">
    <fieldset>
      <span class="span3 select-small left-text control-group">
        <label for="">专业</label>
        <select class="major-select" name="speciality1" data-level="1">
          <option value="{{speciality1}}">请选择</option>
        </select>
        <select class="major-select" name="speciality2" data-level="2">
          <option value="{{speciality2}}">请选择</option>
        </select>
      </span>
      <span class="operations">
        <button type="submit" class="btn btn-primary btn-medium" id="js-speciality-range">筛选</button>
        &nbsp;
        <a href="javascript:void(0)" class="btn btn-medium btn-info" id="js-cancel-speciality-filter">取消</a>
      </span>
    </fieldset>
  </form>
</div>
