@import "compass/css3/inline-block";
@import "pokeball/theme";

.address-manage{
  .set-default{
    display: none;
  }
  .address-table{
    margin-top: 20px;
    .item-manage-table{
      thead{
        background-color: $color-background;
      }
      tbody{
        tr{
          &:hover{
            & .set-default{
              @include inline-block(middle);
            }
          }
        }
      }
    }
  }
}
.address-form{
  width: 650px;
  fieldset{
    padding: 0;
  }

  select{
    width: 70px;
  }
}
