{{#component "component-day-work js-comp"}}
<div class="component-body">

    <div class="body-right js-fee-item-table">

      {{> component:list/fee_sum/all_templates/wrap}}
      <table class="user-manage-table table table-horizontal center-text">
        <thead>
          <tr>
            <th width="10%">序号</th>
            <th width="35%">项目名称</th>
            <th width="20%">单位</th>
            <th width="10%">工程量</th>
            <th width="15%">报价</th>
            <th class="td-operation" width="10%">操作</th>
          </tr>
        </thead>
        <tbody class="js-fee-item-tbody">
          {{#each _DATA_}}
            {{> component:list/day_work/all_templates/tr data=this}}
          {{/each}}

        </tbody>

      </table>
      <button class="btn js-update-fee-item" style="margin-top: 10px;">添加新的清单行</button>
    </div>

  </div>
{{/component}}
