{{#component "common-tab-manage component-standard-container js-comp"}}
  {{> component:developer/accounts/backend_templates/tab selectTab='3'}}
  <div class="tab-contents clearfix">
    <div data-role="content" class="tab-content">
      <div class="component-body">
        {{> component:developer/company/company_apply/backend_templates/tab_content}}
      </div>
    </div>
  </div>
{{/component}}