{{#component "hsh-register js-comp"}}
  {{> component:user/register/all_templates/header_progress step=1}}
  <form class="form form-aligned js-register-form register-user">
    {{> component:user/register/backend_templates/user_info_form}}
  </form>
{{/component}}