{{#component "company-manage-info component-standard-tab-container  js-comp"}}
<div class="tab-contents clearfix">
  <div data-role="content" class="tab-content">
    <form class="form form-aligned product-info-form js-supplier-form-submit" data-company-info="{{json _DATA_.supplierProfile}}">
      <div class="component-body info-content">
        {{> component:supplier/company/company_detail_product/backend_templates/product_info data=_DATA_.products}}
      </div>
    </form>
  </div>
</div>
{{/component}}