<div class="table-container first" id="js-bill-item-container">
  <p>item 列表：</p>
  <table class="table table-grid">
    <thead>
      <tr>
        <th width="60%">材料名</th>
        <th width="40%">单位</th>
      </tr>
    </thead>
    <tbody>
      {{#if total}}
        {{> list/measurement/frontend_templates/_item}}
      {{else}}
        <tr>
          <td colspan="2">
            暂无item
          </td>
        </tr>
      {{/if}}
    </tbody>
    {{#if total}}
      <tfoot>
        <tr>
          <td colspan="2">
            <div class="pagination js-item-pagination"></div>
          </td>
        </tr>
      </tfoot>
    {{/if}}
  </table>
</div>
