<div class="js-select-sku-info">
  <p>sku 列表：</p>
  <table class="table table-grid">
    <thead>
      <tr>
        <th>名称</th>
        <th>规格</th>
      </tr>
    </thead>
    <tbody id="js-model-list">
      {{#if total}}
        {{> list/measurement/frontend_templates/_sku_item}}
      {{else}}
        <tr>
          <td colspan="2">
            暂无sku
          </td>
        </tr>
      {{/if}}
    </tbody>
    {{#if total}}
      <tfoot>
        <tr>
          <td colspan="2">
            <div class="pagination js-sku-pagination"></div>
          </td>
        </tr>
      </tfoot>
    {{/if}}
  </table>
  <a href="javascript:;" class="js-add-edit-sku">找不到想要的sku？新增一个</a>
</div>
