<div class="bids-group no-padding">
  <div class="js-bids-operator bids-content content-border clearfix">
    <div class="group-left">
      <div class="control-group">
        <label class="group-title"><b class="required">*</b>采购经办人</label>
        <input type="text" name="issueBidOperatorId" value="{{issueBidOperatorName}}" readonly>
      </div>
    </div>
    <div class="group-left">
      <div class="control-group">
        <label class="group-title"><b class="required">*</b>答疑经办人</label>
        <input type="text" name="qaOperatorId" value="{{qaOperatorName}}" readonly>
      </div>
    </div>
  </div>
</div>
