{{#component "component-channel-nav js-comp"}}
  <ul class="navs clearfix">
    {{#each navs}}
      <li class="nav-title">
        <a {{#if href}}href="{{href}}"{{/if}} class="title
        {{#if href}}
          {{#indexOf href @root._LOCATION_.host}}
            active
          {{else}}
            {{#indexOf href @root._LOCATION_.url}}active{{/indexOf}}
          {{/indexOf}}
        {{/if}}" target="_blank">{{title}}</a>
      </li>
    {{/each}}
  </ul>
{{/component}}
