<div class="block">
  <form class="form sear-form js-standard-filter-form">
    <fieldset>
      <input type="hidden" name="fromdb" value="false"></input>
      <input type="hidden" name="upd" value="false"></input>
      <span class="span3">
        <label>供应商名称</label>
        <input type="text" name="supplierName" value="{{supplierName}}" placeholder="请输入供应商名称模糊搜索">
      </span>
      <span class="span3">
        <label>注册资金</label>
        <select name="ra_range">
          <option value="">请选择资金范围</option>
          <option value="0_50" {{#equals ra_range "0_50"}}selected{{/equals}}>0 ~ 50</option>
          <option value="50_100" {{#equals ra_range "50_100"}}selected{{/equals}}>50 ~ 100</option>
          <option value="100_500" {{#equals ra_range "100_500"}}selected{{/equals}}>100 ~ 500</option>
          <option value="500_1000" {{#equals ra_range "500_1000"}}selected{{/equals}}>500 ~ 1000</option>
        </select>
      </span>
      <input type="hidden" name="specialId" class="js-select-speciality" value="{{specialId}}">
      <span3 class="pull-right">
        <button class="btn btn-primary js-search-result">搜索</button>
        <a class="btn btn-info" href="/developer/supplier-collect">重置</a>
      </span3>
    </fieldset>
  </form>
</div>