{{#partial "realTitle"}}汇总分析-单位工程投标价汇总表{{/partial}}
{{#partial "listHeader"}}{{inject "list/header" type="analysis"}}{{/partial}}
{{#partial "realBody"}}
<div class="list-body" style="padding-top: 20px;">
  {{inject "list/unit_project"}}
</div>
{{/partial}}
{{> list/layout noSidebar=true }}
