<div class="modal modal-bids-manage">
  <div class="modal-header">
    <h2>发起定标</h2>
    <i class="icon-feebas icon-feebas-cha right-close close"></i>
  </div>
  <div class="modal-body manager-body">
    {{#each companyData}}
      <div>
        <span>{{supplierName}}</span>
        <span class="margin-left-20">中标金额</span>
        <span class="margin-left-10">{{finalFee}}</span>
      </div>
    {{/each}}
  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-primary btn-medium js-bids-start-confirm" data-start-confirms="{{json companyData}}">确认</button>
    <button class="btn btn-info btn-medium close">取消</button>
  </div>
</div>
