{{#component "project-manage js-comp component-standard-container"}}
  <div class="component-body">
    {{> component:developer/project/project_list/backend_templates/block}}
    <div class="component-header">
      <a class="btn btn-primary" href="/developer/project-create">创建项目</a>
    </div>
    {{#with _DATA_}}
      {{> component:developer/project/project_list/backend_templates/table}}
    {{/with}}
  </div>
  {{#with _DATA_}}
    <div class="component-footer">
      <td colspan="8">{{inject "common/pagination" total=total}}</td>
    </div>
  {{/with}}
{{/component}}
