.auth-create {
  .auth-list {
    margin: 15px 0 0 95px;
    ul {
      margin-left: 20px;
      list-style-type: none;
      li {
        margin: 0 0 15px 15px;
        li {
          margin: 0;
          border-left: #e1e1e1 solid 1px;
          &.last {
            border-left: none;
            padding-left: 1px;
          }
          label {
            position: relative;
            zoom: 1;
            &:before {
              content: "";
              position: absolute;
              left: -1px;
              top: 0;
              width: 10px;
              height: 50%;
              border-bottom: #e1e1e1 solid 1px;
              border-left: #e1e1e1 solid 1px;
            }
          }
        }
        label {
          padding: 5px 15px;
        }
      }
    }
  }
}
