@import "compass/css3/inline-block";
@import "pokeball/theme";

.profile {
  .profile-header  {
    padding-left: 60px;
  }

  .avatar  {
    width: 80px;
    height: 80px;
  }

  .profile-content {
    .bank-info {
      @include inline-block(top);
      div {
        margin-bottom: 10px;
      }
    }

    .address-select-group {
      @include inline-block(none);
    }

    .address-select {
      display: inline;
      height: 32px;
      width: 160px; 
    }

    img {
      width: 80px;
      height: 80px;
      border: 1px solid $color-border;
      vertical-align: bottom;
      &.disappear {
        display: none;
      }
    }
  }

  .form {
    .birthday-input {
      width: 100px !important;
    }

    .note-required {
      color: $color-danger;
    }

    .note-loading {
      i {
        width: 16px;
        height: 16px;
        background: transparent url("/raichu/assets/images/other-images/loading.gif") left top no-repeat;
      }
    }

    .note-error-phone,
    .note-error-number,
    .note-error-email,
    .note-error-notchar,
    .note-error-forline,
    .note-error-exists,
    .note-error-hasemail,
    .note-error-erroremail,
    .note-loading,
    .note-successed {
      margin-left: 4px;
      color: $color-danger;
      display: none;
    }

    .success {

      .required {
        display: inline-block;
      }

      .note-successed{
        margin-left: 4px;
        @include inline-block(baseline);
      }
    }

    .btn.success {
      span {
        @include inline-block(bottom);
      }
    }

    .error-phone,
    .error-email,
    .error-notchar,
    .error-forline,
    .error-exists,
    .error-hasemail,
    .error-erroremail,
    .note-load {
      .note-error {
        display: none;
      }
    }

    @each $type in "phone", "email", "notchar", "forline", "exists", "hasemail", "erroremail" {
      .error-#{$type} .note-error-#{$type}{
        @include inline-block(baseline);
      }
    }

    .controls {
      margin-left: 116px;
    }
  }

  .province-select,
  .city-select,
  .region-select {
    width: 150px;
  }

  .required {
    margin-left: 0;
  }

  label.inline {
    text-align: left;
    width: auto;
  }
}

@mixin menu-arrow {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px;
}

.update-mobile {
  border: 1px solid $color-border;
  position: relative;
  margin: 10px 60px;
  width: 550px;
  display: none;
  background-color: white;

  &::before {
    @include menu-arrow();
    top: -12px;
    left: 37px;
    border-color: transparent transparent $color-border transparent;
  }

  &::after {
    @include menu-arrow();
    top: -11px;
    left: 37px;
    border-color: transparent transparent #fff transparent;
  }

  .update-mobile-form {
    padding: 20px 0 0 0;
    .verify-code {
      width: 100px;
      height: 30px;
      cursor: pointer;
      vertical-align: middle;
    }
  }
}
