<ul>
  {{#each data}}
    <li data-target="{{id}}" class="elevator-li js-elevator-li">
      <div class="floor-li-inner">
        <span class="li-slide">{{name}}</span>
      </div>
    </li>
  {{/each}}
</ul>
