{{#partial "realTitle"}}材料详情{{/partial}}
{{#partial "realBreadcrumb"}}
  <div style="height: 20px;"></div>
{{/partial}}
{{#partial "realBody"}}
  {{inject "search/material_details"}}
{{/partial}}
{{> developer/layout}}
