<div class="header-title-progress">
  {{#if taskSnapshotList}}
    <div class="progress">
      <ol>
        {{#each taskSnapshotList}}
          <li class="progress-step{{#equals ../step "-1"}} past{{/equals}}{{#gt ../step @index}} past{{/gt}}{{#equals ../step @index}} active{{/equals}}">
            <span class="progress-step-number">{{#equals ../step "-1"}}<i class="icon-pokeball icon-pokeball-gou"></i>{{else}}{{#gt ../step @index}}<i class="icon-pokeball icon-pokeball-gou"></i>{{else}}{{add @index 1}}{{/gt}}{{/equals}}</span>
            <span class="progress-step-into">{{name}}</span>
          </li>
          {{#unless @last}}
            <li class="progress-bar"></li>
          {{/unless}}
        {{/each}}
      </ol>
    </div>
  {{/if}}
</div>

