<div class="header-status">
  <strong class="status-notes">当前状态:</strong>
  <span class="{{#equals data.status 1}}status-success{{else}}status-ing{{/equals}}">
    {{#equals data.status 0}}<i class="icon-success16"></i>资料变更审核中{{/equals}}
    {{#equals data.status 1}}<i class="icon-success16"></i>注册认证已通过{{/equals}}
  </span>
  <span class="form-btn pull-right">
    {{#equals data.status 1}}
      {{> component:developer/company/company_info/all_templates/button title='修改信息'}}
    {{/equals}}
  </span>
</div>