{{#component "component-item-search js-comp"}}
  {{> component:search/material_search/backend_templates/search_breadcrumb}}

  {{> component:search/material_search/backend_templates/search_conditions}}

  {{> component:search/material_search/backend_templates/search_filter}}

  {{> component:search/material_search/backend_templates/search_item_list}}

  <div class="list-pagination">{{inject "common/pagination" total=_DATA_.entities.total}}</div>
{{/component}}
