{{#component "component-instructions js-comp"}}
<div class="component-body" >
  <form id="form3" class="form form-aligned">
    <fieldset>
      <p class="block block-primary" style="text-align: center; padding-top: 10px; font-size: 16px;">使用说明</p>
      <div class="control-group"><textarea name="generalPage" id="generalPage" style="width: 100%; height: 400px;">{{_DATA_.generalPage}}</textarea>
      </div>

      <div class="control-group">
        <button type="button" class="btn btn-success btn-medium btn-block js-add-btn" >保存</button>
      </div>
    </fieldset>
  </form>

  </div>
{{/component}}
