<div class="block">
  <form class="form sear-form js-standard-filter-form">
    <fieldset>
      <span class="span3">
        <label>供应商名称</label>
        <input type="text" name="supplierName" value="{{supplierName}}" placeholder="请输入供应商名称模糊搜索">
      </span>
      <span class="span3">
        <label>联系人</label>
        <input type="text" name="contactName" value="{{contactName}}" placeholder="请输入联系人进行搜索">
      </span>
      <span class="span3">
        <label>状态</label>
        <select name="state">
          <option value="">全部</option>
          <option value="1" {{#equals state 1}}selected{{/equals}}>未注册</option>
          <option value="2" {{#equals state 2}}selected{{/equals}}>已注册</option>
          <option value="3" {{#equals state 3}}selected{{/equals}}>已加入待考察</option>
          <option value="4" {{#equals state 4}}selected{{/equals}}>已入库</option>
        </select>
      </span>
      <span3 class="pull-right">
        <button type="submit" class="btn btn-primary">搜索</button>
        <a class="btn btn-info" href="/developer/supplier-list">重置</a>
      </span3>
    </fieldset>
  </form>
</div>