{{#component "common-merchant-progress"}}
  <div class="progress">
    <ol>
      <li class="progress-step active">
        <span class="progress-step-number">1</span>
        <br>
        <span class="progress-step-into">{{i18n "merchantSettlement" bundle="user"}}</span>
      </li>
      <li class="progress-bar"></li>
      <li class="progress-step">
        <span class="progress-step-number">2</span>
        <br>
        <span class="progress-step-into">{{i18n "review process" bundle="user"}}</span>
      </li>
      <li class="progress-bar"></li>
      <li class="progress-step">
        <span class="progress-step-number">3</span>
        <br>
        <span class="progress-step-into">{{i18n "success" bundle="user"}}</span>
      </li>
    </ul>
  </div>
{{/component}}
