{{#component "articles-detail-common js-comp"}}
  <div class="category-box">
    {{inject "design/articles_categories"}}
  </div>
  <div class="articles-detail-common-detail">
    <h3 class="title">{{_DATA_.title}}</h3>
    <h5 class="info">
      <span>发布时间：{{formatDate _DATA_.createdAt "withT"}}</span>
    </h5>
    <div class="aticles-content">
      {{{_DATA_.content}}}
    </div>
  </div>
{{/component}}
