@import "pokeball/theme";
@import "compass/css3/inline-block";
@import "compass/css3/box-sizing";

.articles-detail-common {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 50px;
  .category-box {
    width: 200px;
    display: inline-block;
  }
  .articles-detail-common-detail {
    display: inline-block;
    width: 980px;
    min-height: 600px;
    margin-bottom: 50px;
    float: right;
    .users-pagination {
      margin-top: 20px;
      text-align: right;
    }
    h3.title {
      font-size: 20px;
      color: #666666;
      line-height: 40px;
      font-weight: normal;
      margin: 0;
      text-align: center;
      font-size: 18px;
    }
    h5.info {
      font-size: 12px;
      color: #bbbbbb;
      line-height: 40px;
      font-weight: normal;
      margin: 5px 0 0;
      text-align: center;
      border-bottom: 1px dashed #dcdcdc;
    }
    .aticles-content {
      margin-top: 20px;
      font-size: 14px;
        h2{
          line-height: 24px;
        }
    }
  }
}
