@import "compass/css3/inline-block";
@import "pokeball/theme";

.footer-ul{
  ul{
    width: 900px;
    margin: 0 auto;
    img{
      margin: 25px 0;
    }
    li{
      @include inline-block(middle);
      width: 160px;
      padding: 20px;
      span{
        font-weight: bold;
      }
    }
    .click-modal{
      cursor: pointer;
      cursor: hand;
    }
  }
  .copyright{
    width: 100%;
    color: #999999;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    border-top: 1px solid $color-border;
  }
}
.modal.footer-template{
  i{
    color: white;
    font-size: 40px;
  }
  .close{
    position: absolute;
    top: -20px;
    right: -20px;
  }
}
