{{#component "footer-ul js-comp"}}
  <div class="copyright">
    <!-- Copyright ©2015 大企汇 {{i18n "Copyrights reserved" bundle="common"}} -->
    <span>Copyright ©2015 端点科技 {{i18n "Copyrights reserved" bundle="common"}} / 浙ICP备13004315号-2</span>
  </div>
{{/component}}
