<li class="pull-left margin-right-20">
  <img src="{{image}}" alt="" width="150" height="150" />
  <input type="hidden" name="pics" value="{{image}}">
  <div class="center-text">
    <a href="javascript:;" class="js-image-delete">删除</a>
  </div>
</li>
