{{#component "bids-manage js-comp component-standard-container"}}
  <div class="component-header">
    {{#if _PROJECTS_}}
      <a class="btn btn-primary margin-right-20" href="/developer/bids-create{{#if projectId}}?projectId={{projectId}}{{/if}}">创建招标立项</a>
    {{/if}}
    <a href="/developer/project-create">去创建项目</a>
  </div>
  <div class="component-body">
    {{> component:developer/bids/bids_manage/bids_list/backend_templates/block}}
    <div class="body-table clearfix">
      {{#with _DATA_}}
        <div class="table-left">
          {{> component:developer/bids/bids_manage/bids_list/backend_templates/navs projectId=../projectId projects=../_PROJECTS_}}
        </div>
        <div class="table-right js-table-bids" data-users="{{json ../_COMPANY_USER_}}">
          {{> component:developer/bids/bids_manage/bids_list/backend_templates/table userId=../_USER_.id}}
          <div class="component-footer">
            <td colspan="8">{{inject "common/pagination" total=total}}</td>
          </div>
        </div>
      {{/with}}
    </div>
  </div>
{{/component}}
