<div class="control-group">
  <label class="group-title"><b class="required">*</b>开标时间</label>
  <div class="group-content">
    <input type="text" name="autoOpenDate" class="datepicker-hour js-datepicker-open" placeholder="开标时间" value="{{autoOpenDate}}"  data-val="{{autoOpenDate}}" required>
    <span class="note-error-empty">x 请输入开标时间</span>
  </div>
</div>
