<div class="control-group">
  <label class="group-title"><b class="required">*</b>开标人</label>
  <div class="group-content select-more js-select-container">
    <input type="text" class="js-select-id" name="openOperatorIds" placeholder="请选择开标人" value="{{openOperatorIds}}" required>
    <span class="note-error-empty">x 请输入开标人</span>
  </div>
</div>
