@import "compass/css3";
@import "pokeball/theme";

.address-manage{
  .js-add-address {
    margin-bottom: 20px;
  }
  .set-default{
    display: none;
  }
  .address-table{
    margin-top: 20px;
    thead{
      background-color: $color-background;
    }
    tbody{
      tr{
        &:hover{
          & .set-default{
            @include inline-block(middle);
          }
        }
      }
      td {
        padding-top: 0;
        &.street,
        &.name {
          word-wrap: break-word;
          word-break: break-all;
        }
      }
    }
  }
}
.address-form{
  width: 600px;
  fieldset{
    padding: 0;
  }

  .selectric{
    width: 120px;
  }

  &.has-street{
    width: 750px;
  }
}
