<div class="js-supplier-invite-item">
  <div class="control-group">
    <label class="group-title">供应商名称：</label>
    <div class="group-content">
      <select class="select js-supplier-company" name="invite[][companyId]" required data-parent=".group-content">
        <option value="">请选择</option>
        {{#each suppliers}}
          <option value="{{supplierId}}" data-index="{{add @index 1}}">{{supplierName}}</option>
        {{/each}}
      </select>
      <span class="note-error-empty" style="position: absolute;">x 请选择库内供应商</span>
      {{#unless status}}
        <a href="javascript:;" class="js-supplier-item-delete">删除</a>
      {{/unless}}
    </div>
  </div>
  <div class="control-group">
    <label class="group-title">供应商联系人：</label>
    <div class="group-content">
      <input type="hidden" name="invite[][name]" class="js-contact-name" value="" required>
      <select class="select js-supplier-contact" name="invite[][phone]" required data-parent=".group-content">
        <option value="">请选择</option>
      </select>
      <span class="note-error-empty" style="position: absolute;">x 请选择供应商联系人</span>
    </div>
  </div>
</div>
