@import "compass/css3";
@import "pokeball/theme";

.user-register-form {
  input {
    width: 280px;
    height: 38px;
  }

  .control-group {
    width: 450px;
    text-align: right;
  }

  .picture-code {
    position: relative;
    .text-left {
      text-align: left;
      margin-left: 30px;
    }
    input {
      padding-right: 107px;
    }
    img {
      right: 5px;
      top: 4px;
      position: absolute;
    }
    button {
      position: absolute;
      right: 0px;
      padding: 12px 16px;
    }
  }
}
