{{#component "breadcrumbs"}}
  <ol class="breadcrumb">
    {{#each _DATA_.breadcrumb}}
      <li>
        {{#equals url "#"}}
          <span>{{crumb}}</span>
        {{else}}
          <a href="{{url}}">{{crumb}}</a>
        {{/equals}}
      </li>
    {{/each}}
  </ol>
{{/component}}
