<div class="component-float-search js-float-search hide">
  <div class="search-container clearfix">
    <div class="site-logo"><img src="{{siteLogo}}" width="100" height="24" alt=""></div>
    <form action="/search" method="get" class="form" id="js-float-search-form">
      <div class="input-group input-group-append input-search search-group">
        <input type="text" name="q" value="{{q}}" placeholder="{{placeholder}}" class="search-input active"><span class="input-group-btn">
          <button class="btn btn-medium search-btn" id="js-search-submit" type="submit">搜索</button>
        </span>
      </div>
    </form>
  </div>
</div>
