@import "pokeball/theme";
.drop-down-more {
  @include inline-block(middle);
  position: relative;
  border: 1px solid $color-border;

  .dropdown-selector {
    @include inline-block(middle);
    position: relative;
    cursor: pointer;
    width: 190px;
    padding: 7px 10px;
    overflow-x: scroll;
    white-space: nowrap;

    .placeholder {
      color: $color-text-note;
    }

    .dropdown-item {
      background-color: $color-background;
      margin-right: 10px;

      i {
        font-size: 12px;
        line-height: 12px;
      }
    }

    input[readonly] {
      background: $white;
      padding-right: 20px;
      cursor: pointer;
    }
  }

  .caret-content {
    @include inline-block(middle);
    height: 34px;
    position: relative;
    margin-left: -5px;
    background-color: $color-primary;
    width: 30px;

    .caret {
      position: absolute;
      right: 10px;
      top: 15px;
      border-top-color: #dfdfdf;
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background: $white;
    width: 100%;
    z-index: 9999;
    border-top: 1px solid $color-border;
  }

  .dropdown-menu {
    padding: 5px;
    margin: 0;
    border: 1px solid $color-border;
    border-top: 0;
    max-height: 260px;
    overflow-y: auto;

    .input-checkbox {
      vertical-align: middle;
    }

    li {
      float: left;
      margin-right: 10px;
    }
  }
}
