@import "pokeball/theme";
.shop-two-items {
  width: 560px;

  .item-info {
    padding-top: 10px;
  }

  .item-name {
    margin: 0 0 10px 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 350px;

    a {
      color: $color-text;
    }
  }

  .item-price {
    font-size: 22px;
    margin-right: 20px;
  }

  .item-left {
    float: left;
  }

  .item-right {
    float: right;
  }

}
