//
// 项目定义的或者复写的变量写在import之前
// -------------------------------------

$color-sidebar-bg: #475669;
$color-sidebar-text: #C0CCDA;
$color-border-right-wrap-nav: #667788;
$color-primary: #03A9F4 !default;
$color-primary-btn: #69DBA4 !default;
$color-text: #333 !default;

@import "pokeball/variables";

$color-body: $navy;
$color-border-white: $white !default;
$color-text-white: $white !default;
