{{#component "bids-answer-question js-comp"}}
  <div class="bids-group">
    <div class="bids-title">
      <label>提问汇总</label>
      {{#equals questionStatus 1}}
        <a href="/supplier/bids-details/question-create?bidId={{bidId}}&supplierId={{id}}" class="margin-left-20 btn btn-medium btn-primary" style="display: inline;">创建提问</a>
      {{/equals}}
    </div>
    <div class="bids-content">
      {{#with _DATA_}}
        {{> component:supplier/bids/bids_answer/bids_questions/backend_templates/table supplierId=../id questionStatus=../questionStatus}}
        {{inject "common/pagination" total=total}}
      {{/with}}
    </div>
  </div>
{{/component}}
