.bids-block {
  margin: 0 20px 20px;
  border:  1px solid $color-border;
  padding-bottom: 20px;
}
.bids-group {
  padding: 20px 20px 0;
  width: 100%;

  &.no-padding {
    padding: 0 20px;
  }

  .bids-title {
    line-height: 12px;

    label {
      font-size: 12px;
      line-height: 12px;
      font-weight: 600;
      vertical-align: top;
    }

    .hide {
      display: none !important;
    }

    .btn {
      display: inline;
    }
  }

  .control-group {
    margin-bottom: 10px;
  }

  .bids-content-bg {
    width: 100%;
    height: 34px;
    line-height: 24px;
    background: $color-background-active;
    font-size: 14px;
    color: $color-text;
    padding: 5px;

    .time-show {
      color: $color-primary;
    }
  }

  .status-danger {
    color: $orange;
  }

  .status-invalid {
    color: $color-danger;
  }

  .status-success {
    color: $color-success;
  }

  .bids-content {
    margin-top: 20px;
    color: $color-text-assist;

    &.content-border {
      border-bottom: 1px solid $color-border;
    }

    &.content-padding {
      padding-bottom: 20px;
    }

    &.content-label-large .group-title {
      width: 9em;
    }
  }

  .group-left,.group-right {
    float: left;
    width: 50%;
    padding: 10px;

    span {
      color: $color-text-assist;
    }
  }
}

.bids-file {
  width: 270px;
  border: 1px solid $color-border;
  padding: 15px;
  height: 74px;

  &.btn-upload {
    border: 1px dashed $color-border;
  }

  .file-img {
    width: 40px;
    height: 40px;
    @include inline-block(middle);

    i {
      font-size: 40px;
      line-height: 40px;
      color: $color-text-assist;
    }
  }

  .file-upload {
    @include inline-block(middle);
    margin-left: 15px;
    width: 175px;
  }

  &.bids-file:hover {
    border-color: $color-primary;

    .date a {
      display: inline-block;
    }

    .file-img i {
      color: $color-primary;
    }

    .file-upload span {
      color: $color-primary;
    }
  }

  .file-info {
    @include inline-block(top);
    width: 175px;
    margin-left: 15px;

    .title {
      color: $color-text-assist;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .date {
      margin-top: 4px;
      color: $color-text-note;

      i {
        font-size: 14px;
      }

      > a {
        display: none;
      }
    }
  }
}
