.project-manage {
  .upload-content {
    width: 150px;
    height: 150px;
    line-height: 130px;

    i {
      font-size: 30px;
    }
  }

  .note-hint {
    margin-left: 20px;
    line-height: 150px;
  }
}
