@import "compass/css3/inline-block";
@import "compass/css3/transform";
@import "compass/css3/border-radius";
@import "pokeball/theme";

$comps-color-border: #dfdfdf;

.design-tab-floor{
  width: 1200px;
  margin: 0 auto;
  .tab-header {
    font-size: 0;
    border-bottom: 1px solid $navy;
    padding-left: 5px;
    .tab-title {
      font-size: 15px;
      line-height: 34px;
      font-weight: bold;
      @include inline-block(middle);

      .title-attach {
        @include inline-block(middle);
        height: 33px;
        line-height: 33px;
        strong {
          @include inline-block(middle);
          margin-top: -5px;
          width: 6px;
          height: 18px;
          line-height: 18px;
        }
      }
    }
    ul {
      font-size: 12px;
      float: right;
      border: 0;
      li {
        margin-right: 0;
        a {
          padding: 10px 20px;
          line-height: 12px;
          color: $color-text;
          border: 1px solid $comps-color-border;
          border-top-width: 2px;
          border-left: 0;
          border-bottom: 1px solid $navy;
        }
        &.first {
          a {
            border-left: 1px solid $comps-color-border;
          }
        }
        &.active{
          a{
            padding: 10px 20px;
            line-height: 12px;
            color: $color-text;
            border: 1px solid $navy;
            border-top: 2px solid $color-primary;
            border-bottom: 1px solid white;
            background-color: white;
            &:hover {
              color: $color-text;
            }
          }
        }
      }
    }
  }

  .tab-contents{
    padding: 0;
    .other {
      float: left;
      height: 600px;
      width: 240px;
      border-right: 1px solid $color-border;
    }
    .first-content {
      .product-images {
        float: left;
        font-size: 0;
        width: 960px;
        a {
          border-right: 1px solid $color-border;
          border-bottom: 1px solid $color-border;
          @include inline-block(middle);
          width: 25%;
          height: 300px;
          &.first-image {
            width: 50%;
          }
        }
      }
    }
    .tab-content{
      .product{
        width: 960px;
        margin: 0 -1px -1px 0;
        float: left;
        > .item{
          padding: 20px 10px;
          width: 240px;
          height: 300px;
          float: left;
          border-right: 1px solid $comps-color-border;
          border-bottom: 1px solid $comps-color-border;
          .pic{
            padding: 15px;
            width: 215px;
            height: 215px;
          }
          .name{
            text-align: center;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            .item-name{
              font-size: 14px;
              color: $color-text;
            }
          }
          .price{
            text-align: center;
            margin-top: 10px;
            .font-16{
              font-size: 16px;
              padding-right: 10px;
              color: #fe6e17;
            }
          }
          &:hover{
            .name, .pic, .price{
              @include transform(translate(-2px));
            }
          }
        }
      }
    }
  }
}
