.join-company-modal .modal-dialog {
  min-width: 480px;

  .company-note {
    margin-left: 40px;
  }

  .control-group.company-note {
    margin-bottom: 0px;

    textarea {
      height: 80px;
      width: 307px;
    }
  }
}