{{#component "company-manage-info component-standard-tab-container  js-comp"}}
<div class="tab-contents clearfix">
  <div data-role="content" class="tab-content">
    <form class="form form-aligned perfect-info-form js-supplier-form-submit" data-company-info="{{json _DATA_.supplierProfile}}" data-company-id="{{json _DATA_.company}}">
      <div class="component-header">
        <div class="header-status">
          <span class="form-btn pull-right">
            {{> component:developer/company/company_info/all_templates/button title='修改/完善信息'}}
          </span>
        </div>
      </div>
      <div class="component-body info-content">
        {{> component:developer/company/company_detail/backend_templates/describe_info data=_DATA_.supplierProfile companyType="supplier" companyHonour=(parse _DATA_.supplierProfile.companyHonour)}}
      </div>
    </form>
  </div>
</div>
{{/component}}