<div class="js-select-sku-info">
  <p>sku 列表：<a href="javascript:;" class="js-add-edit-sku">找不到想要的sku？新增一个</a></p>
  <table class="table table-grid">
    <thead>
      <tr>
        <th width="50%">名称</th>
        <th width="50%">规格</th>
      </tr>
    </thead>
    <tbody id="js-model-list">
      {{#if skus.total}}
        {{> list/division/frontend_templates/_sku_item data=skus.data}}
      {{else}}
        <tr>
          <td colspan="2">
            暂无sku
          </td>
        </tr>
      {{/if}}
    </tbody>
    {{#if skus.total}}
      <tfoot>
        <tr>
          <td colspan="2">
            <div class="pagination js-sku-pagination"></div>
          </td>
        </tr>
      </tfoot>
    {{/if}}
  </table>
</div>
