<div class="modal modal-dialog">
  <div class="modal-dialog-icon">
    <i class="icon-success"></i>
  </div>
  <div class="modal-dialog-message">
    <h3>{{i18n "Add to Cart" bundle="shop_design"}}</h3>
    <p>{{i18n "Item added to cart successfully" bundle="shop_design"}}.</p>
    <div class="modal-controls">
      <a class="btn btn-success white-a js-jump-cart" href="/buyer/cart">{{i18n "Check to Cart" bundle="shop_design"}}</a>
      &nbsp;&nbsp;&nbsp;<a class="close">{{i18n "Continue Shopping" bundle="shop_design"}}</a>
    </div>
  </div>
</div>
