.paytype-form {
  .cons {
    overflow: hidden;
    zoom: 1;
    label {
      text-align: left;
      width: auto;
      margin: 0 60px 10px 0;
    }
  }
}

.add-sites, .add-templates {
  .btn {
    vertical-align: middle;
  }
}
