{{#if hasHouse}}
<div class="js-house-container">
  {{> list/config/frontend_templates/_house_info}}
</div>
{{/if}}
<div class="js-building-container">
  {{> list/config/frontend_templates/_building_info}}
</div>
