{{#component "clarify-details bids-block"}}
  {{#with _DATA_}}
    {{#each clarifyDetails}}
      <div class="bids-group">
        <div class="bids-content-bg">第{{subtract ../total @index}}次澄清</div>
      </div>
      {{> component:developer/bids/bids_evaluate/clarify_details/backend_templates/theme}}
      {{> component:developer/bids/bids_evaluate/clarify_details/backend_templates/attachment}}
      {{> component:developer/bids/bids_evaluate/clarify_details/backend_templates/list}}
      {{> component:developer/bids/bids_evaluate/clarify_details/backend_templates/response_clarify}}
      {{> component:developer/bids/bids_evaluate/clarify_details/backend_templates/response_list}}
      {{> component:developer/bids/bids_evaluate/clarify_details/backend_templates/response_attach}}
    {{/each}}
  {{/with}}
{{/component}}
