.main-left{
  &.pull-sidebar{
    width: 80px;
    height: 100%;
    padding-top: 60px;
    background-color: #fff;
    transition: width .2s ease-out;
    &.pull{
      width: 200px;
    }
  }
  .component-list-siderbar{
    height: 100%;
  }
  .list-sidebar{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 15px 0px;
    background-color: #475669;
    .list-control{
      margin-left: 30px;
      float: right;
    }
    p{
      width: 200px;
      margin: 0;
      padding: 10px 20px 10px 10px;
      span{
        color: #03a9f4;
        a{
          color: #bbb;
        }
      }
    }
    .list-item > ul > li{
      width: 200px;
      padding: 10px 20px;
      >a{
        color: #bbb;
        display: inline-block;
        max-width: 50px;
      }
      .list-control{
        a{
          color: #bbb;
        }
      }
      &.active{
        background-color: #24344e;
        a{
          color: #fff;
        }
      }
      .edit-item-name{
        display: none;
        input{
          width: 100px;
        }
      }
      &._edit{
        a{
          display: none;
        }
        .edit-item-name{
          display: block;
        }
      }
    }
  }
  .list-pull-control{
    position: absolute;
    top: 50%;
    right: -10px;
    border-left: 10px solid #475669;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    cursor: pointer;
  }
  .sidebar-add-item{
    display: none;
    .selectric{
      width: 100px;
    }
  }
}
