@import "pokeball/theme";
@import "compass/css3";

.shop-cards {
  width: 200px;
  text-align: center;
  border: 1px solid $color-border;
  .card-header {
    height: 38px;
    line-height: 38px;
    background-color: $color-background;
    font-size: 12px;
  }

  .card-body {
    padding: 20px 0;
    .card-score {
      li {
        float: left;
        width: 33.3%;
        line-height: 17px;
        .score {
          color: $orange;
          font-size: 11px;
        }
      }
    }
    .cart-btn {
      padding: 0 25px;
      margin-top: 15px;
      .btn {
        border-color: $color-primary;
        color: $color-primary;
      }
    }
  }
}
