{{#component "shop-cards"}}
  <div class="card-header cutwords" title="{{_DATA_.name}}">
    {{_DATA_.name}}
  </div>
  <div class="card-body">
    <ul class="card-score clearfix">
      <li>
        <span>描述</span><br><span class="score">5.0</span>
      </li>
      <li>
        <span>服务</span><br><span class="score">5.0</span>
      </li>
      <li>
        <span>物流</span><br><span class="score">5.0</span>
      </li>
    </ul>
    <div class="cart-btn">
      <a class="btn btn-block btn-info" href="/shops/{{shopId}}">进店逛逛</a>
    </div>
  </div>
{{/component}}
