@import "pokeball/theme";

.modal-bids-manage {
  color: $color-text-assist;

  .right-close {
    position: absolute;
    top: 18px;
    right: 18px;
    color: $color-text-assist;
    cursor: pointer;
  }

  .file-body {
    margin: 0 100px;
  }

  .manager-body {
    padding: 0 100px 0 50px;
  }

  .effective-item {
    margin-left: 10px;
    color: $color-success;
  }

  .ineffective-item {
    margin-left: 10px;
    color: $color-danger;
  }
}
