{{#component "logo-name"}}
  <a href="/"><img src="/assets/images/other-images/logo.png" alt="" width="150" height="36"></a>
  <span class='line'></span>
  <span class="shop-name">{{_DATA_.name}}</span>
{{/component}}
