@import "pokeball/theme";
@import "compass/css3";

.logo-name {
  span, a {
    @include inline-block(middle);
    line-height: 36px;
    color: black;
    img {
      vertical-align: middle;
    }
  }
  .line {
    width: 1px;
    height: 26px;
    background-color: $color-border;
    margin: 0 17px;
  }
}
