<div class="js-config-item">
  <div class="control-group">
    <label class="group-title">条件审批人</label>
    <div class="group-content">
      <select class="selectric js-select-approval-person" name="userId" data-parent=".group-content" required>
        <option value="">请选择</option>
        {{#each companyUser}}
          <option value="{{userId}}" data-index="{{add @index 1}}" {{#equals userId ../userId}}selected{{/equals}}>{{realName}}</option>
        {{/each}}
      </select>
      <span class="note-error-empty" style="position: absolute;">x 请选择条件审批人</span>
    </div>
    <a href="javascript:;" class="js-config-item-delete">删除</a>
  </div>
  <div class="control-group">
    <label class="group-title">审批人负责项目</label>
    <div class="group-content select-more js-select-container">
      <input type="text" class="js-select-id" placeholder="请选择审批项目" name="taskApproverList[]" value="{{projectsList}}" required>
      <span class="note-error-empty" style="position: absolute;">x 不能为空</span>
    </div>
  </div>
</div>
