{{#each data}}
<li class="clearfix">
    <div class="share-wrap">
        <div class="topic">{{userName}}</div>
        <ul class="share-content">
            <li><span class="share-time">{{formatDate createdAt}}</span>{{content}}</li>
            <li>
                {{#each pic}}
                <span class="image-label"><img src="{{this}}" alt=""><i></i><b class="icon-fdj12"></b></span>
                {{/each}}
            </li>
            <li class="show-image-area"></li>
        </ul>
    </div>
</li>
{{/each}}
