<div class="tab" data-type="switchable">
  <ul class="tab-navs clearfix">
    <li class="{{#equals selectTab '1'}}active{{/equals}}"><a href="/supplier/company-detail">联系人信息</a></li>
    <li class="{{#equals selectTab '2'}}active{{/equals}}"><a href="/supplier/company-detail-product">产品与服务</a></li>
    <li class="{{#equals selectTab '3'}}active{{/equals}}"><a href="/supplier/company-detail-describe">描述信息</a></li>
  </ul>
</div>