{{#component "js-comp search-bids-details"}}
  <div class="container-left">
    {{#with _COMPANY_}}
      {{> component:search/bids_details/backend_templates/company_info}}
    {{/with}}
  </div>
  <div class="container-right">
    {{#with _DATA_}}
      {{> component:search/bids_details/backend_templates/bids_info}}
    {{/with}}
  </div>
{{/component}}
