.supplier-manage-component {
  .supplier-import-form {
    .major-type {
      margin-left: 20px;
    }

    .grade-table {
      width: 96%;
      margin-left: 50px;
    }

    .list-file {
      display: inline-block;

      li {
        line-height: 25px;
      }

      .file-operate {
        display: inline-block;
        margin-left: 15px;
      }
    }

    .control-group input {
      width: 190px;
    }
  }
}