<legend class="form-title"><strong>联系人信息</strong></legend>
<div class="each-box-table">
  <fieldset class="each-not-table-content">
    <input type="hidden" name="id" value="{{data.id}}">
    <div class="control-group">
      <label style="width: auto">公司架构:</label>
      <div class="btn btn-upload main-image js-upload-img">
        <input class="hide" type="file" name="file">
        <img src="{{data.structure}}" class="js-img-show" style="{{#if data.structure}}width: 70px; height: 70px{{/if}}">
        <span>+</span>
        <input type="hidden" name="structure" value="{{data.structure}}">
      </div>
      <span class="pictrue-remark">支持*.jpg、*.png、*.gif、*.jpeg格式</span>
    </div>
  </fieldset>
  <fieldset>
    <div class="table-title">
      <span>联系人</span>
      <button class="btn btn-small btn-info pull-right js-add-edit-item" data-type="contact" type="button">添加新的联系人</button>
    </div>
    <table class="table contact-table">
      <thead>
        <tr>
          <th>姓名</th>
          <th>职位</th>
          <th>办公电话</th>
          <th>手机</th>
          <th>电子邮箱</th>
          <th class="right-text">操作</th>
        </tr>
      </thead>
      <tbody>
        {{> component:supplier/company/company_info_tax/all_templates/_option_tr type='contact' contact=data.contacts}}
      </tbody>
    </table>
  </fieldset>
</div>