{{#component "component-item-search search-company-comp js-comp"}}
  {{> component:search/developer_search/backend_templates/search_breadcrumb}}

  {{> component:search/developer_search/backend_templates/search_conditions}}

  {{> component:search/developer_search/backend_templates/search_item_list}}

  <div class="list-pagination"></div>
{{/component}}