<fieldset>
  <legend class="form-title"><strong>业绩</strong></legend>
  <div class="table-title">年产值</div>
  <table class="table output-table">
    <thead>
      <tr>
        <th width="20%">年度</th>
        <th width="25%">年度实际产值(单位:万元)</th>
        <th width="25%">年度签约金额(单位:万元)</th>
        <th width="30%" class="right-text">操作</th>
      </tr>
    </thead>
    <tbody>
      {{> user/register_company/all_templates/_option_tr type='output' output=data.outputs}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="9">
          <i></i><a href="javascript:;" class="js-add-edit-item" data-type="output">添加新的年产值</a>
        </td>
      </tr>
    </tfoot>
  </table>
  <div class="table-title">合作地产开发商</div>
  <table class="table partners-table">
    <thead>
      <tr>
        <th width="20%">开发商名称</th>
        <th width="20%">合作商区域</th>
        <th width="40%">合作内容</th>
        <th width="15%" class="right-text">操作</th>
      </tr>
    </thead>
    <tbody>
      {{> user/register_company/all_templates/_option_tr type='partner' partner=data.partners}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="9">
          <i></i><a href="javascript:;" class="js-add-edit-item" data-type="partner">添加新的合作地产开发商</a>
        </td>
      </tr>
    </tfoot>
  </table>
  <div class="table-title">业绩</div>
  <table class="table achievements-table">
    <thead>
      <tr>
        <th width="9%">项目名称</th>
        <th width="9%">项目地址</th>
        <th width="9%">甲方单位</th>
        <th width="5%">业态类型</th>
        <th width="8%">项目模型(㎡)</th>
        <th width="9%">施工内容</th>
        <th width="11%">进场时间</th>
        <th width="9%">项目经理</th>
        <th width="9%">合同首页</th>
        <th width="9%">合同备注页</th>
        <th>备注</th>
        <th class="right-text">操作</th>
      </tr>
    </thead>
    <tbody>
      {{> user/register_company/all_templates/_option_tr type='achievement' achievement=data.achievements}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="12">
          <i></i><a href="javascript:;" class="js-add-edit-item" data-type="achievement">添加新的业绩</a>
        </td>
      </tr>
    </tfoot>
  </table>
  <div class="table-title control-group">
    <button class="btn btn-primary js-go-parent" type="button">上一步</button>
    <button class="btn btn-primary" type="submit">下一步</button>
  </div>
</fieldset>