<fieldset>
  <legend class="form-title"><strong>服务信息</strong></legend>
  <div class="control-group select-group">
    <label><span class="required">*</span>劳动力合作模式:</label>
    <select class="select" name="labourer" required data-parent=".control-group">
      <option value="">请选择</option>
      <option value="1" {{#equals data.labourer '1'}}selected{{/equals}}>自有劳务公司</option>
      <option value="2" {{#equals data.labourer '2'}}selected{{/equals}}>班组合作</option>
      <option value="3" {{#equals data.labourer '3'}}selected{{/equals}}>劳务市场</option>
    </select>
  </div>
  <div class="control-group">
    <label><span class="required">*</span>劳动班组数量:</label>
    <input type="number" class="input-medium" name="groupNum" placeholder="请输入劳动班组数量" value="{{data.groupNum}}" pattern="^[1-9]*[1-9][0-9]*$" required>
  </div>
  <div class="table-title">合作材料单位</div>
  <table class="table cooperate-table">
    <thead>
      <tr>
        <th width="40%">名称</th>
        <th width="30%">品牌</th>
        <th width="30%" class="right-text">操作</th>
      </tr>
    </thead>
    <tbody>
      {{> user/register_company/all_templates/_option_tr type='cooperate' cooperate=data.cooperates}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="9">
          <i></i><a href="javascript:;" class="js-add-edit-item" data-type="cooperate">添加新的合作材料单位</a>
        </td>
      </tr>
    </tfoot>
  </table>
  <div class="table-title">机械设备情况</div>
  <table class="table machines-table">
    <thead>
      <tr>
        <th>设备名称</th>
        <th>设备用途</th>
        <th>设备数量</th>
        <th class="right-text">操作</th>
      </tr>
    </thead>
    <tbody>
      {{> user/register_company/all_templates/_option_tr type='machines' machines=data.machines}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="9">
          <i></i><a href="javascript:;" class="js-add-edit-item" data-type="machines">添加新的机械设备</a>
        </td>
      </tr>
    </tfoot>
  </table>
  <div class="table-title">项目经理名单</div>
  <table class="table manager-table">
    <thead>
      <tr>
        <th>经理名称</th>
        <th>工作年限</th>
        <th>项目经验</th>
        <th class="right-text">操作</th>
      </tr>
    </thead>
    <tbody>
      {{> user/register_company/all_templates/_option_tr type='manager' manager=data.projectManagers}}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="9">
          <i></i><a href="javascript:;" class="js-add-edit-item" data-type="manager">添加新的项目经理</a>
        </td>
      </tr>
    </tfoot>
  </table>
  <div class="table-title control-group">
    <button class="btn btn-primary js-go-prev" type="button">上一步</button>
    <button class="btn btn-primary js-supplier-btn" type="submit">注册公司</button>
  </div>
</fieldset>