<fieldset>
  <legend class="form-title"><strong>税务信息</strong></legend>
  <div class="control-group">
    <label><span class="required">*</span>纳税人识别号:</label>
    <input type="number" class="input-medium" name="taxNo" value="{{data.taxNo}}" placeholder="请输入纳税人识别号" pattern="^[1-9]*[1-9][0-9]*$" required>
  </div>
  <div class="control-group">
    <label><span class="required">*</span>纳税人登记地址:</label>
    <input type="text" class="input-medium" name="taxAddress" value="{{data.taxAddress}}" placeholder="请输入纳税人登记地址" required>
  </div>
  <div class="control-group select-group">
    <label><span class="required">*</span>纳税人类型:</label>
    <select class="select" name="taxType" required data-parent=".control-group">
      <option value="">请选择</option>
      <option value="1" {{#equals data.taxType '1'}}selected{{/equals}}>一般纳税人</option>
      <option value="2" {{#equals data.taxType '2'}}selected{{/equals}}>小规模纳税人</option>
    </select>
  </div>
</fieldset>