<div class="tab" data-type="switchable" data-subType="{{json subType}}" data-info="{{json data}}">
  <div class="tab-contents clearfix supplier-form-info">
    <div data-role="content" class="tab-content">
      {{> user/register_company/all_templates/_base_info subType=subType data=data}}
    </div>
  </div>
</div>