<div class="tab" data-type="switchable" data-subType="{{json subType}}" data-info="{{json data}}">
  <ul class="tab-navs clearfix">
    <li class="active"><a href="javascript:;">基本信息</a></li>
    <li><a href="javascript:;">税务与业务信息</a></li>
    <li><a href="javascript:;">联系人与服务信息</a></li>
  </ul>
  <div class="tab-contents clearfix supplier-form-info">
    <div data-role="content" class="tab-content">
      {{> user/register_company/all_templates/_base_info subType=subType name=name data=data.company}}
    </div>
    <div data-role="content" class="tab-content hide">
      <form class="js-special-info">
        {{> user/register_company/all_templates/_tax_info data=data.supplierProfile}}
        {{> user/register_company/all_templates/_business_info data=data}}
      </form>
    </div>
    <div data-role="content" class="tab-content hide">
      <form class="js-submit-info">
        {{> user/register_company/all_templates/_contact_info data=data.supplierProfile}}
        {{#equals subType '4'}}
          {{> user/register_company/all_templates/_service_device_info data=data.supplierProfile}}
        {{else}}
          {{> user/register_company/all_templates/_service_common_info data=data.supplierProfile}}        
        {{/equals}}
      </form>
    </div>
  </div>
</div>