<tr>
  <th><span class="attr-group">注册资本</span></th>
  <td class="attr-container js-filter-container" data-length="5">
    <ul class="attr-list clearfix">
      <li class="attr-dd dd-cancel">
        <div class="attr hide cutwords" data-value="0_500">
          0-500<i class="icon-feebas icon-feebas-guanbi"></i>
        </div>
        <a href="javascript:;" class="js-property-selector cutwords" data-key="capital_range" data-value="0_500">0-500</a>
      </li>
      <li class="attr-dd dd-cancel">
        <div class="attr hide cutwords" data-value="500_1000">
          500-1000<i class="icon-feebas icon-feebas-guanbi"></i>
        </div>
        <a href="javascript:;" class="js-property-selector cutwords" data-key="capital_range" data-value="500_1000">500-1000</a>
      </li>
      <li class="attr-dd dd-cancel">
        <div class="attr hide cutwords" data-value="1000_1500">
          1000-1500<i class="icon-feebas icon-feebas-guanbi"></i>
        </div>
        <a href="javascript:;" class="js-property-selector cutwords" data-key="capital_range" data-value="1000_1500">1000-1500</a>
      </li>
      <li class="attr-dd dd-cancel">
        <div class="attr hide cutwords" data-value="1500_">
          1500--<i class="icon-feebas icon-feebas-guanbi"></i>
        </div>
        <a href="javascript:;" class="js-property-selector cutwords" data-key="capital_range" data-value="1500_">1500--</a>
      </li>
    </ul>
    <div class="brand-buttons hide">
      <button class="btn js-attrs-confirm btn-medium btn-primary" data-key="capital_range" type="button">{{i18n "Confirm" bundle="design"}}</button>
      <button class="btn js-brand-cancel btn-medium btn-secondary" type="button">{{i18n "Cancel" bundle="design"}}</button>
    </div>
  </td>
  <td class="more-dd">
    <button class="btn btn-minor btn-small js-attr-elects">
      <i class="icon-feebas icon-feebas-tianjia"></i> <span>{{i18n "Options" bundle="design"}}</span>
    </button>
  </td>
</tr>