<div class="filter shop-search-filter">
  <form class="form filter-form js-filter-form">
    <fieldset>
      <span class="span3 select-medium left-text">
        <input type="hidden" name="speciality" class="js-speciality-id" value="{{speciality}}">
        <div class="marjor-content js-speciality-toggle">
          <input type="text" name="" class="js-speciality-name no-readonly" placeholder="请选择专业" readonly>
          <div class="js-speciality-container speciality-container hide"></div>
        </div>
      </span>
      <span class="operations">
        <button type="submit" class="btn btn-primary btn-medium" id="js-price-range">{{i18n "Filter" bundle="design"}}</button>
        &nbsp;
        <a href="javascript:void(0)" class="btn btn-medium btn-info" id="js-cancel-price-filter">{{i18n "Cancel" bundle="design"}}</a>
      </span>
    </fieldset>
  </form>
</div>