{{#partial "realTitle"}}投标列表{{/partial}}
{{#partial "realBreadcrumb"}}
  {{#inject "common/breadcrumb"}}{"_DATA_": {"breadcrumb": [{"url": "#", "crumb": "投标管理"}, {"url": "#", "crumb": "投标列表"}]}}{{/inject}}
  <div class="tab" data-type="switchable">
    <ul class="tab-navs clearfix">
      <li class="{{#unless type}}active{{/unless}}">
        <a href="/supplier/bids">已发标</a>
      </li>
      <li class="{{#equals type 'registered'}}active{{/equals}}">
        <a href="/supplier/bids?type=registered">已报名</a>
      </li>
      <li class="{{#equals type 'decided'}}active{{/equals}}">
        <a href="/supplier/bids?type=decided">已定标</a>
      </li>
    </ul>
  </div>
{{/partial}}
{{#partial "realBody"}}
  {{#if type}}
    {{inject "supplier/bids/bids_manage"}}
  {{else}}
    {{inject "supplier/bids/bids_manage" type='issued'}}
  {{/if}}
{{/partial}}
{{> supplier/layout}}
