{{#partial "realTitle"}}供应商中心{{/partial}}
{{#partial "topBody"}}
  {{inject "supplier/index/count"}}
{{/partial}}
{{#partial "tabNavs"}}
  <div class="tab" data-type="switchable">
    <ul class="tab-navs clearfix">
      <li class="active">
        <a href="javascript:;">系统消息</a>
      </li>
    </ul>
  </div>
{{/partial}}
{{#partial "realBody"}}
  {{inject "developer/index/message" qfType=1}}
{{/partial}}
{{> supplier/layout_index}}
