{{#partial "realTitle"}}投标详情{{/partial}}
{{#partial "containerClass"}}no-background{{/partial}}
{{#partial "realBreadcrumb"}}
  <div style="height: 20px;"></div>
{{/partial}}
{{#partial "realBody"}}
  {{inject "search/bids_details"}}
{{/partial}}
{{> supplier/layout}}
