<div class="modal modal-bids-manage">
  <div class="modal-header">
    <h2>指定成本经办人</h2>
    <i class="icon-feebas icon-feebas-cha right-close close"></i>
  </div>
  <form class="form-aligned form-common js-form-operator">
    <div class="modal-body">
      <div class="control-group">
        <label class="group-title"><b class="required">*</b>指定成本经办人</label>
        <div class="group-content select-more js-select-container">
          <input type="text" name="costOperatorIds" class="js-select-id" value="{{costoperator}}" placeholder="指定成本经办人" required>
          <span class="note-error-empty" style="position: absolute;">x 请指定成本经办人</span>
        </div>
      </div>
      <div class="control-group">
        <label class="group-title">备注</label>
        <div class="group-content">
          <textarea name="costOperatorRemark" pattern="^.{1,200}$" placeholder="这里可以填写对成本经办人编制清单时的要求（200字以内）"></textarea>
          <span class="note-error">1-200字内</span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success btn-primary btn-medium">确认</button>
      <button class="btn btn-info btn-medium close">取消</button>
    </div>
  </form>
</div>
