.component-standard-container {
  min-width: 980px;
  background-color: #fff;
  padding: 20px;
  min-height: 500px;

  .error,
  .unvalid {
    &,
    * {
      color: $color-danger;
    }
  }

  .component-filter {
    background-color: #fafafa;
    border: 1px solid $color-border;
    margin-bottom: 20px;
    padding: 10px 15px;

    input {
      width: 160px;
    }

    .no-readonly {
      background-color: $white;
    }
  }

  .component-header {
    margin-bottom: 15px;

    .component-title {
      font-size: 14px;
      color: $navy;
      @include inline-block(middle);
      line-height: 28px;
    }
  }

  .block {
    margin-bottom: 20px;

    .block-title {
      font-size: 14px;
      color: $navy;
      @include inline-block(middle);
      line-height: 28px;
    }
  }

  .component-body {
    background-color: #fff;
  }

  .component-footer {}
}

.component-standard-tab-container {
  min-width: 988px;

  .error,
  .unvalid {
    &,
    * {
      color: $color-danger;
    }
  }

  .tab-contents {
    margin: 0;
    padding: 20px;
    background-color: #fff;
  }

  .component-header {
    margin-bottom: 20px;

    .component-title {
      font-size: 14px;
      color: $navy;
      @include inline-block(middle);
      line-height: 28px;
    }
  }

  .block {
    margin-bottom: 20px;
  }

  .component-body {
    background-color: #fff;
  }

  .component-footer {}
}

.form {
  .error,
  .unvalid {
    &,
    * {
      color: $color-danger;
    }
  }
}


