.form-common {

  .form-left,.form-right {
    width: 50%;
    float: left;
  }

  .error .select-more .select-toggle {
    border-color: $color-danger;
  }

  textarea {
    resize: none;
  }

  input {
    width: 190px;
  }

  .control-submit {
    margin-left: 115px;
  }

  .group-content-top {
    @include inline-block(top);
    position: relative;
  }

  .no-readonly {
    background-color: $white !important;
    height: 32px;
  }

  .min-width-500 {
    min-width: 500px;
  }

  .group-content {
    @include inline-block(middle);
    position: relative;

    .units {
      position: absolute;
      left: 140px;
      bottom: 7px;
    }

    .units-one {
      position: absolute;
      left: 210px;
      bottom: 7px;
    }
  }
}

.form-standard-filter {
  input {
    width: 160px !important;
  }

  .span3 {
    width: 250px;
  }

  .span2 {
    width: 190px;
  }
}
