<form class="form form-aligned form-common form-bids js-form-bids">
  <fieldset>
    <div class="project-info">
      {{#if bidId}}
        {{#with _DATA_}}
          {{> component:developer/bids/bids_manage/common/all_templates/_project_info}}
        {{/with}}
      {{else}}
        {{> component:developer/bids/bids_manage/common/all_templates/_project_info status=1}}
      {{/if}}
    </div>
    <div class="bids-base">
      {{#if bidId}}
        {{#with _DATA_}}
          {{> component:developer/bids/bids_manage/common/all_templates/_bids_info companyUsers=../_COMPANY_USER_}}
        {{/with}}
      {{else}}
        {{> component:developer/bids/bids_manage/common/all_templates/_bids_info companyUsers=_COMPANY_USER_}}
      {{/if}}
    </div>
  </fieldset>
</form>
