@import "pokeball/theme";
@import "compass/css3";

.manage-picture {
  .file-table {
    td {
      img {
        @include inline-block(middle);
      }
    }
  }

  .operate-buttons {
    margin: 10px 0;
  }

  .pagination {
    float: right;
    margin: 5px auto;
  }
}
