<div class="table-navs">
  <div class="navs-content">
    <ul>
      <label>项目名称：</label>
      {{#each projects}}
        <li class="js-project-submit navs-li {{#equals ../projectId id}}selected{{/equals}}" data-projectid="{{id}}">
          <span>{{name}}</span>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
