@import "compass/css3/inline-block";
@import "pokeball/theme";

.account-form {
  label.control-label {
    width: auto;
  }

  .control-groups {
    @include inline-block(top);
  }

  .label-list {
    max-width: 280px;
    label {
      width: auto;
      cursor: pointer;
      padding: 1px 5px;
      margin: 0 5px 5px 0;
      border: $gainsboro solid 1px;
      &:after {
        content: "x";
        color: $gainsboro;
        margin-left: 5px;
      }
    }
  }
}

.sub-user-modal{
  .modal-dialog{
    min-width: 480px;

    .control-group{
      .selectric {
        width: 232px;
        height: 32px;
        line-height: 32px;
      }

      .note-error-phone,
      .note-error-number,
      .note-error-email,
      .note-error-notchar,
      .note-error-forline {
        margin-left: 4px;
        color: $color-danger;
        display: none;
      }

      &.create-user{
        select{
          display: none;
        }
      }

      &.require-password{
        select{
          width: 100px;
        }
        input{
          width: 127px !important;
        }
      }

      &.password{
        input,
        .note,
        .note-error,
        .note-error-empty{
          display: none;
        }
      }
    }

    .error-number,
    .error-email,
    .error-notchar,
    .error-forline,
    .error-hasemail,
    .error-erroremail {
      .note-error {
        display: none;
      }
    }

    @each $type in "email", "notchar", "forline", "number" {
      .error-#{$type} .note-error-#{$type}{
        @include inline-block(baseline);
      }
    }
  }
}
