<div class="modal footer-template">
  <div class="close"><a href="javascript:void(0)"><i class="icon-feebas icon-feebas-close"></i></a></div>
  <img src="{{target}}" alt="" width="{{width}}" height="{{height}}">
</div>
