{{#partial "title"}}{{{block "realTitle"}}}{{/partial}}
{{#partial "body"}}
  {{#if todo}}
    <div class="main-right" style="margin:0; padding:0;">
  {{else}}
    <div class="main-top">
      {{inject "user/header"}}
    </div>
    <div class="main-left">
      {{#inject "user/sidebar"}}
        {
          "_DATA_": {
            "name": "system manage",
            "navs": [
              {
                "name": "system manage",
                "icon": "",
                "auth": "",
                "children": [
                  {
                    "name": "site manage",
                    "href": "/system/sites",
                    "auth": ""
                  },
                  {
                    "name": "shop templates",
                    "href": "/system/templates",
                    "auth": ""
                  }
                ]
              }
            ]
          }
        }
      {{/inject}}
    </div>
    <div class="main-right">
  {{/if}}
  {{{block "realBody"}}}
  </div>
  <div class="notify-container"></div>
{{/partial}}
{{> layout}}
