{{#component "component-item-search js-comp"}}
  {{> component:design/items_search/backend_templates/search_breadcrumb}}

  {{> component:design/items_search/backend_templates/search_conditions}}

  {{> component:design/items_search/backend_templates/search_filter}}

  {{> component:design/items_search/backend_templates/search_item_list}}

  <div class="list-pagination"></div>
{{/component}}
