.component-list-config{
  input[type=text]{
    width: 190px;
  }
  a{
    vertical-align: middle;
  }
  hr{
    width: 80%;
    margin: 30px auto;
    border: 0;
    border-top: 1px solid #e7e7e7;
  }
  .config-list{
    display: inline-block;
    width: 1180px;
    .build-item{
      display: inline-block;
      width: 340px;
      margin-right: 20px;
      margin-bottom: 20px;
      border: 1px solid #d8d8d8;
      input{
        width: 120px;
      }
      .build-item-header{
        padding: 20px 10px;
        span{
          display: inline-block;
          width: 80px;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
        a{
          display: none;
          margin-left: 5px;
        }
        &:hover a{
          display: block;
        }
        .build-edit{
          display: none;
          input,
          .selectric{
            width: 80px;
          }
          a{
            display: block;
          }
        }
        &.edit{
          .build-edit{
            display: block;
          }
          .build-text{
            display: none;
          }
        }
      }
      .build-item-link{
        .build-link-top{
          a{
            width: 16px;
            height: 16px;
            text-align: center;
            border-radius: 50%;
            background-color: #197aff;
            color: #fff;
            font-size: 12px;
          }
        }
        .build-link-body{
          height: 198px;
          padding: 10px 0px;
          overflow: auto;
          .build-link-item{
            a{
              padding: 10px;
              display: none;
            }
            &:hover{
              background-color: #f3fafd;
              a{
                display: block;
              }
            }
            span{
              display: inline-block;
              width: 40%;
              padding: 10px 20px;
              text-align: right;
              &:first-child{
                text-align: left;
              }
            }
          }
          .build-new-link-item{
            padding: 5px 10px;
            a{
              padding: 5px 0;
            }
          }
        }
        .selectric{
          width: 120px;
          margin-right: 10px;
        }
      }
      .build-link-top,
      .build-item-footer{
        height: 40px;
        padding: 12px 10px;
        background-color: #f3f6f9;
        span:first-child{
          color: #999;
        }
      }
      &:hover{
        border: 1px solid #197aff;
      }
    }
  }
}
