@import "pokeball/theme";

.supplier-list-component {
  .tab .tab-navs {
    margin-bottom: 20px;

    li {
      background-color: #fff;
    }

    .download-model {
      line-height: 32px;
    }
  }

  .tab .tab-contents {
    padding-top: 0px;
  }
}