{{#component "supplier-list-component component-standard-container js-comp"}}
<div class="component-body">
  <div class="tab supplier-tab">
    <ul class="tab-navs clearfix">
      <span class="span3 pull-right">
        <div id="js-import-supplier" class="btn btn-upload btn-info">导入供应商<input type="file" name="file"></div>
        <a class="download-model" href="/api/supplier/export/model">下载导入模板</a>
      </span>
    </ul>
  </div>
  {{> component:developer/supplier_manage/supplier_list/backend_templates/block}}
  {{> component:developer/supplier_manage/supplier_list/backend_templates/table}}
</div>
{{/component}}