{{#component "company-manage-info component-standard-tab-container  js-comp"}}
<div class="tab-contents clearfix">
  <div data-role="content" class="tab-content">
    <form class="form form-aligned service-info-form js-supplier-form-submit" data-company-info="{{json _DATA_.company}}">
      <div class="component-header">
        {{> component:developer/company/company_info/backend_templates/header_status data=_DATA_.company}}
      </div>
      <div class="component-body info-content">
        {{#equals _DATA_.company.status '0'}}
          {{#equals _APPLY_.extra.applyType '3'}}
            <div class="single-box js-left-box">
              <div class="apply-title">变更前信息</div>
              {{> component:supplier/company/company_info_service/backend_templates/service_info subType=_DATA_.company.subType data=_DATA_.supplierProfile upright='true'}}     
            </div>
            <div class="single-box js-right-box has-different-info">
              <div class="apply-title">待审核信息</div>
              {{> component:supplier/company/company_info_service/backend_templates/service_info subType=_DATA_.company.subType data=_APPLY_.supplierProfile before=_DATA_.supplierProfile upright='true'}}    
            </div>
          {{else}}
            {{> component:supplier/company/company_info_service/backend_templates/service_info subType=_DATA_.company.subType data=_DATA_.supplierProfile}}
          {{/equals}}
        {{else}}
          {{> component:supplier/company/company_info_service/backend_templates/service_info subType=_DATA_.company.subType data=_DATA_.supplierProfile}}
        {{/equals}}
      </div>
    </form>
  </div>
</div>
{{/component}}