<!DOCTYPE html>
<html lang="zh-CN">
  <!-- Powered by Terminus.io -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{!-- {{#block "meta"}} --}}
    <title>{{#if seo.title}}{{seo.title}}{{else}}{{#block "title"}}{{/block}}{{/if}}</title>
    <meta name="keywords" content="{{seo.keywords}}">
    <meta name="description" content="{{seo.description}}">
    {{!-- {{/block}} --}}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/assets/images/other-images/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <meta name="baidu-site-verification" content="P7Xr6eyWnw" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1447913391_6921906.css" />
    <link rel="stylesheet" href="/assets/styles/vendor.css">
    <link rel="stylesheet" href="/assets/styles/app.css">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">您正使用<strong>过时</strong>的浏览器，因此您可能体验不到最完美的效果,请点击<a href="http://browsehappy.com/">这里</a> 去升级您的浏览器</p>
    <![endif]-->
    {{#block "body"}}
    {{/block}}
    <script src="/assets/scripts/vendor.js"></script>
    <script src="/assets/scripts/templates.js"></script>
    <script src="/assets/scripts/app.js"></script>
    <script src="/i18n"></script>
    <script>require("app")()</script>
  </body>
  <!-- Powered by Terminus.io -->
</html>
