{{#partial "realTitle"}}注册{{/partial}}
{{#partial "realBody"}}
  <div class="main-login">
    <div class="login-container" style="padding:42px 0;width:1200px;height:120px;margin: 0 auto;">
      <img src="/assets/images/other-images/logo.png" alt="" width="150" height="36">
      <h2 style="display:inline-block;vertical-align:15px;font-size:16px;line-height:18px;margin:0 30px;color: #666666;"><b>注册</b></h2>
    </div>
    <div class="outer-login" style="width: auto;border-top: 1px solid #ccc;">
      <div class="login-container" style="display:block;width: 700px;margin: 0 auto;">
        {{inject  "user/register"}}
      </div>
    </div>
  </div>
{{/partial}}
{{> front_layout}}
