<div class="modal modal-bids-manage">
  <div class="modal-header">
    <h2>邀请库内供应商</h2>
    <i class="icon-feebas icon-feebas-cha right-close close"></i>
  </div>
  <form class="form-aligned form-common form js-form-invite">
    <div class="modal-body">
      <div class="control-group">
        <label class="group-title">招标专业：</label>
        <span>{{major.specialityNames}}</span>
      </div>
      {{> developer/bids/supplier_select/waiting/all_templates/_invite_item status=1}}
      <div class="control-group">
        <label class="group-title"></label>
        <div class="group-content">
          <a href="javascript:;" class="btn btn-info btn-medium js-supplier-add" data-suppliers="{{json suppliers}}">添加供应商</a>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success btn-primary btn-medium" type="submit">确认</button>
      <button class="btn btn-info btn-medium close">取消</button>
    </div>
  </form>
</div>
