<div class="block">
  <form id="form-search" class="form js-standard-filter-form">
    <fieldset>
      <span class="span3">
        <label for="userId">用户ID</label>
        <input type="text" name="userId" placeholder="请输入非0开头的正整数的ID" value="{{userId}}" pattern="^[1-9]\d{0,9}$" aria-label="请输入非0开头的正整数">
      </span>
      <span class="span3">
        <label for="mobile">手机号</label>
        <input type="number" name="mobile" placeholder="请输入正确的手机号精确搜索" value="{{mobile}}">
      </span>
      <span class="span3">
        <label for="status">状态</label>
        <select name="status">
          <option value="">请选择</option>
          <option value="0" {{#equals status '0'}}selected{{/equals}}>未激活</option>
          <option value="1" {{#equals status '1'}}selected{{/equals}}>正常</option>
          <option value="-1" {{#equals status '-1'}}selected{{/equals}}>锁定</option>
          <option value="-2" {{#equals status '-2'}}selected{{/equals}}>冻结</option>
          <option value="-3" {{#equals status '-3'}}selected{{/equals}}>解绑</option>        
        </select>
      </span>
      <span class="pull-right">
        <label for="accounts">
          <input class="btn btn-primary" type="submit" value="搜索">
          <a href="/{{companyType}}/company-user" class="btn btn-info">重置</a>
        </label>
      </span>
    </fieldset>
  </form>
</div>