<div class="component-select-tree">
  {{#if search}}
    <div class="tree-search">
      <input type="text" name="keyword" class="js-search-tree" placeholder="请输入关键字">
    </div>
  {{/if}}
  <div class="tree-view">
    <ul class="tree-list">
      {{#each data}}
        {{> common/select_tree/frontend_templates/_tree_item}}
      {{/each}}
    </ul>
  </div>
</div>
