<div class="tab component-tab component-header" data-type="switchable">
  <ul class="tab-navs clearfix">
    <li class="{{#equals selectTab '1'}}active{{/equals}}">
      <a href="/user/my-company">已加入公司</a>
    </li>
    <li class="{{#equals selectTab '2'}}active{{/equals}}">
      <a href="/user/my-company-review">待审核公司</a>
    </li>
  </ul>
</div>