{{#component "common-tab-manage component-standard-container js-comp"}}
  {{> component:user/my_company/backend_templates/tab selectTab='2'}}
  <div class="tab-contents clearfix">
    <div data-role="content" class="tab-content">
      <div class="component-header">
        <span>我的待审核公司</span>
      </div>
      <div class="component-body">
        {{> component:user/my_company_review/backend_templates/tab_content}}
      </div>
    </div>
  </div>
{{/component}}