{{#component "component-supplementary js-comp"}}
<div class="component-body" >
    <div class="list-tree-nav body-left js-fee-category-list" data-category-list="{{json _DATA_}}">
    </div>
    <div class="body-right js-fee-item-table hide">
      {{> component:list/fee_sum/all_templates/wrap}}

      <div id="js-table">


      </div>

      <div>
        <button class="btn js-update-fee-item" style="margin-top: 10px;">添加新的清单行</button>
      </div>
    </div>

  </div>
{{/component}}
