<legend class="form-title"><strong>业绩</strong></legend>
<div class="each-box-table">
  <fieldset class="each-table-content">
    <div class="table-title">
      <span>年产值</span>
      <button class="btn btn-small btn-info pull-right js-add-edit-item" data-type="output" type="button">添加新的年产值</button>    
    </div>
    <table class="table output-table">
      <thead>
        <tr>
          <th width="20%">年度</th>
          <th width="25%">年度实际产值(单位：万元)</th>
          <th width="25%">年度签约金额(单位：万元)</th>
          <th width="30%" class="right-text">操作</th>
        </tr>
      </thead>
      <tbody>
        {{> component:supplier/company/company_info_tax/all_templates/_option_tr type='output' output=data.outputs}}
      </tbody>
    </table>
  </fieldset>
  <fieldset class="each-table-content">  
    <div class="table-title">
      <span>合作地产开发商</span>
      <button class="btn btn-small btn-info pull-right js-add-edit-item" data-type="partner" type="button">添加新的合作地产开发商</button>
    </div>
    <table class="table partners-table">
      <thead>
        <tr>
          <th>开发商名称</th>
          <th>合作商区域</th>
          <th>合作内容</th>
          <th class="right-text">操作</th>
        </tr>
      </thead>
      <tbody>
        {{> component:supplier/company/company_info_tax/all_templates/_option_tr type='partner' partner=data.partners}}
      </tbody>
    </table>
  </fieldset>
  <fieldset>
    <div class="table-title">
      <span>业绩</span>
      <button class="btn btn-small btn-info pull-right js-add-edit-item" data-type="achievement" type="button">添加新的业绩</button>    
    </div>
    <table class="table achievements-table">
      <thead>
        <tr>
          <th>项目名称</th>
          <th>项目地址</th>
          <th>甲方单位</th>
          <th>业态类型</th>
          <th>项目模型(㎡)</th>
          <th>施工内容</th>
          <th>进场时间</th>
          <th>项目经理</th>
          <th>合同首页</th>
          <th>合同备注页</th>
          <th>备注</th>
          <th class="right-text">操作</th>
        </tr>
      </thead>
      <tbody>
        {{> component:supplier/company/company_info_tax/all_templates/_option_tr type='achievement' achievement=data.achievements}}
      </tbody>
    </table>
  </fieldset>
</div>