@import "pokeball/theme";
@import "compass/css3";

.image-slide {
  font-size: 0;
  width: 1200px;
  height: 240px;
  overflow: hidden;
  position: relative;
  white-space:nowrap;
  .image {
    border: 1px solid $color-border;
    border-left: 0;
    cursor: pointer;
    @include inline-block(middle);
    width: 240px;
    height: 240px;
    background-color: white;
    overflow: hidden;
    transition: all 400ms ease;
    &:hover {
      width: 480px;
      height: 240px;
    }
    &.last:hover {
      position: absolute;
      right: 0;
    }
  }
  .image.first {
    border-left: 1px solid $color-border;
  }
}
