{{#partial "realTitle"}}清单编制-分部分项{{/partial}}
{{#partial "listHeader"}}{{inject "list/header" type="edit"}}{{/partial}}
{{#partial "realBody"}}
<div class="list-body">
  {{inject "list/division"}}
</div>
{{/partial}}
{{> list/layout treeNav=true}}
