<div class="project-img">
  <label class="label-title">项目图片</label>
  <div class="img-content clearfix">
    {{#if pics}}
      {{#each pics}}
        <div class="item-img">
          <img src="{{this}}" class="js-img-show">
        </div>
      {{/each}}
    {{else}}
      <div class="center-text no-img">暂无项目图片！</div>
    {{/if}}
  </div>
</div>
